<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{msj}}</p>
</ngx-spinner>

<div class="container text-center" *ngIf="aumtomaticService.Automatics.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">El Backup no tiene automatics relacionados</h2>
</div>
<div *ngIf="aumtomaticService.Automatics.length > 0">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla">#</th>
      <th scope="col" class="Encabezado-Tabla">Id operacion</th>
      <th scope="col" class="Encabezado-Tabla">Id cuenta</th>
      <th scope="col" class="Encabezado-Tabla">Categoria</th>
      <th scope="col" class="Encabezado-Tabla">Periodo</th>
      <th scope="col" class="Encabezado-Tabla">repeat_number</th>
      <th scope="col" class="Encabezado-Tabla">each_number</th>
      <th scope="col" class="Encabezado-Tabla">Habilitado</th>
      <th scope="col" class="Encabezado-Tabla">Cantidad</th>
      <th scope="col" class="Encabezado-Tabla">Signo</th>
      <th scope="col" class="Encabezado-Tabla">Detalles</th>
      <th scope="col" class="Encabezado-Tabla">Fecha inicio</th>
      <th scope="col" class="Encabezado-Tabla">Fecha siguiente</th>
      <th scope="col" class="Encabezado-Tabla">rate</th>
      <th scope="col" class="Encabezado-Tabla">counter</th>
      <th scope="col" class="Encabezado-Tabla">Operación</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let automatic of aumtomaticService.Automatics; let i = index" >

      <th scope="row" class="Celdas-Tabla">{{(i+1)}}</th>
      <td class="Celdas-Tabla">{{automatic.id_operation}}</td>
      <td class="Celdas-Tabla">{{automatic.id_account}}</td>
      <td class="Celdas-Tabla">{{util.asignarNombre(automatic.id_category, automatic.category)}}</td>
      <td class="Celdas-Tabla">{{automatic.period}}</td>
      <td class="Celdas-Tabla">{{automatic.repeat_number}}</td>
      <td class="Celdas-Tabla">{{automatic.each_number}}</td>
      <td class="Celdas-Tabla">{{(automatic.enabled == "0") ? "No": "Si"}}</td>
      <td class="Celdas-Tabla">{{automatic.amount | currency: automatic.symbol}}</td>
      <td class="Celdas-Tabla">{{automatic.sign}}</td>
      <td class="Celdas-Tabla">{{automatic.detail}}</td>
      <td class="Celdas-Tabla">{{automatic.initial_date | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla">{{automatic.next_date | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla">{{automatic.rate}}</td>
      <td class="Celdas-Tabla">{{automatic.counter}}</td>
      <td class="Celdas-Tabla">
        <button type="button" class="btn btn-primary" style="width: 100px; margin-right: 20px; font-size: 20px" >Editar</button>
        <button type="button" class="btn btn-danger" style="width: 100px; margin-left: 20px; font-size: 20px" (click)="eliminar(i, back.id_backup)">Eliminar</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
