<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>
<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalAutomatic" tabindex="-1" role="dialog" aria-labelledby="modalAutomaticTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" *ngIf="automatic != null">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalAutomaticTitle">{{option}} Automatic</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="automatic" (ngSubmit)="operation()">
        <div class="modal-body">
          <div class="row" style="width: 100%; display: block; margin-bottom: 20px;" *ngIf="util.isDelete(option)">
            <h5 class="text-center" style="font-weight: 500;">¿ Esta seguro de eliminar la operación automática num: {{(automaticService.indexAutomaticSelected + 1)}}, Id_operation: {{automatic.value.id_operation}}, Id_account: {{automatic.value.id_account}}, Id_category: {{automatic.value.id_category}} del Respaldo Id_backup: {{automaticService.id_backup}} ?</h5>
          </div>

          <div class="flex-row-reverse">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="enabled" formControlName="enabled" [ngClass]="(getError('enabled') == '') ? 'valid-control' : 'invalid-control'">
              <label class="custom-control-label" for="enabled">Enabled</label>
              <div class="invalid-feedback">{{ getError('enabled')}}</div>
            </div>
          </div>
          
          <fieldset class="form-group" >
            <div class="form-row">
              <div class="form col checkRadioCenter">
                <div class="custom-control custom-radio width-90">
                  <input type="radio" class="custom-control-input" id="customControlValidation2" name="sign" value="+" formControlName="sign" [ngClass]="(getError('sign') == '') ? 'valid-control' : 'invalid-control'" (change)="automatic.patchValue({id_category: ''})">
                  <label class="custom-control-label" for="customControlValidation2">Ingresos</label>
                </div>
              </div>
              <div class="form col checkRadioCenter">
                <div class="custom-control custom-radio width-90">
                  <input type="radio" class="custom-control-input" id="customControlValidation3" name="sign" value="-" formControlName="sign" [ngClass]="(getError('sign') == '') ? 'valid-control' : 'invalid-control'" (change)="automatic.patchValue({id_category: ''})">
                  <label class="custom-control-label" for="customControlValidation3">Gastos</label>
                </div>
              </div>
              <div class="invalid-feedback">{{ getError('sign')}}</div>
            </div>
          </fieldset>
          
          <div class="form-group">
            <div class="form-row">
              <div class="form col">
                <label for="id_operation">Id_operation: </label>
                <input type="number" readonly="true" class="form-control" id="id_operation" formControlName="id_operation" [ngClass]="(getError('id_operation') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('id_operation')}}</div>
              </div>
              <div class="form col">
                <label for="id_account">Account: </label>
                <select class="form-control" id="id_account" formControlName="id_account" [ngClass]="(getError('id_account') == '') ? 'valid-control' : 'invalid-control'" (change)="accountSelectedModal($event)">
                  <option *ngIf="automaticService.AccountsBackup.length > 0" value="">Seleccione una cuenta</option>
                  <option *ngFor="let account of automaticService.AccountsBackup" [value]="account.id_account">{{account.name}}</option>
                </select>
              </div>
              <div class="form col">
                <label for="id_category">Category: </label>
                <select class="form-control" id="id_category" formControlName="id_category" [ngClass]="(getError('id_category') == '') ? 'valid-control' : 'invalid-control'">

                  <ng-container *ngIf="automatic.value.id_account != ''"><!-- Listar todas las categorias de la cuenta seleccionada-->
                    <option *ngIf="automaticService.AccountsBackup[indexSelectAutomaticModal - 1].categoriesAccount.length > 0" value="">Seleccione una categoria</option>
                    <ng-container *ngFor="let category of automaticService.AccountsBackup[indexSelectAutomaticModal - 1].categoriesAccount">
                      <option *ngIf="category.sign == automatic.value.sign" [value]="category.id_category">[{{category.sign}}] {{category.name}}</option>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="automatic.value.id_account == ''"><!-- Listar todas las categorias de todas la cuentas-->
                    <option value="">Seleccione una categoria</option>
                    <ng-container *ngFor="let account of automaticService.AccountsBackup">
                      <ng-container *ngFor="let category of account.categoriesAccount">
                        <option *ngIf="category.sign == automatic.value.sign" [value]="category.id_category">[{{category.sign}}] {{category.name}}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>

                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="form col">
                <label for="period">Period</label>
                <input type="number" class="form-control" id="period" formControlName="period" [ngClass]="(getError('period') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('period')}}</div>
              </div>
              <div class="form col">
                <label for="repeat_number">Repeat_number</label>
                <input type="number" class="form-control" id="repeat_number" formControlName="repeat_number" [ngClass]="(getError('repeat_number') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('repeat_number')}}</div>
              </div>              
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="form col">
                <label for="each_number">Each_number</label>
                <input type="number" class="form-control" id="each_number" formControlName="each_number" [ngClass]="(getError('each_number') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('each_number')}}</div>
              </div>
              <div class="form col">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" formControlName="amount" [step]="util.stepDecimal" [ngClass]="(getError('amount') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('amount')}}</div>
              </div>              
            </div>
          </div>
          <div class="form-group">
            <label for="detail">Detail: </label>
            <textarea  type="text" class="form-control" id="detail" formControlName="detail" [ngClass]="(getError('detail') == '') ? 'valid-control' : 'invalid-control'"></textarea>
            <div class="invalid-feedback">{{ getError('detail')}}</div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="initial_date">Initial_date</label>
                <input type="text" [owlDateTimeTrigger]="id" [owlDateTime]="id" class="form-control" id="initial_date" formControlName="initial_date" placeholder="initial_date" [ngClass]="(getError('initial_date') == '') ? 'valid-control' : 'invalid-control'">
                <owl-date-time #id [disabled]="util.isDelete(option)" [pickerType]="'calendar'"></owl-date-time>
                <div class="invalid-feedback">{{ getError('initial_date')}}</div>
              </div>
              <div class="col">
                <label for="next_date">Next_date</label>
                <input type="text" [owlDateTimeTrigger]="nd" [owlDateTime]="nd" class="form-control" id="next_date" formControlName="next_date" placeholder="next_date" [ngClass]="(getError('next_date') == '') ? 'valid-control' : 'invalid-control'">
                <owl-date-time #nd  [disabled]="util.isDelete(option)" [pickerType]="'calendar'"></owl-date-time>
                <div class="invalid-feedback">{{ getError('next_date')}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="form col">
                <label for="operation_code">Operation_code: </label>
                <input type="text" class="form-control" id="operation_code" formControlName="operation_code" [ngClass]="(getError('operation_code') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('operation_code')}}</div>
              </div>
              <div class="form col">
                <label for="rate">Rate: </label>
                <input type="number" class="form-control" id="rate" formControlName="rate" [step]="util.stepDecimal" [ngClass]="(getError('rate') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('rate')}}</div>
              </div>
              <div class="form col">
                <label for="counter">Counter: </label>
                <input type="number" class="form-control" id="counter" formControlName="counter" [ngClass]="(getError('counter') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('counter')}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cerrar</button>
          <button type="submit" [ngClass]="util.classModal(option)" [disabled]="automatic.invalid">{{option}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="container text-center" *ngIf="automaticService.Automatics.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">{{util.msj}}</h2>
</div>
<div *ngIf="automaticService.Automatics.length > 0"  class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla ">#</th>
      <th scope="col" class="Encabezado-Tabla font-italic ">Repeated</th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Id_operation
          <input type="search" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="automaticService.filtersSearch.id_operation.value" name="id_operation" (keyup)="automaticService.actionFilterEvent($event, 'id_operation', true)">
          <button type="button" [ngClass]="(automaticService.filtersSearch.id_operation.isFilter) ? 'close': 'btnFilter-disabled'" (click)="automaticService.resetValuefiltroSearch('id_operation')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Id_Account
          <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="automaticService.filtersSearch.indexAccount.value" name="indexAccount" (ngModelChange)="automaticService.actionFilterEvent($event, 'indexAccount')">
            <option value="-1" *ngIf="automaticService.AccountsBackup.length > 0">Todas</option>
            <option *ngFor="let account of automaticService.AccountsBackup; let i = index" [value]="i">{{account.id_account}}</option>
          </select>
          <button type="button" [ngClass]="(automaticService.filtersSearch.indexAccount.isFilter) ? 'close': 'btnFilter-disabled'" (click)="automaticService.resetValuefiltroSearch('indexAccount')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Account
          <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="automaticService.filtersSearch.indexAccount.value" name="indexAccount" (ngModelChange)="automaticService.actionFilterEvent($event, 'indexAccount')">
            <option value="-1" *ngIf="automaticService.AccountsBackup.length > 0">Todas</option>
            <option *ngFor="let account of automaticService.AccountsBackup; let i = index" [value]="i">{{account.name}}</option>
          </select>
          <button type="button" [ngClass]="(automaticService.filtersSearch.indexAccount.isFilter) ? 'close': 'btnFilter-disabled'" (click)="automaticService.resetValuefiltroSearch('indexAccount')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Id_Category
          <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="automaticService.filtersSearch.id_category.value" name="id_category" (ngModelChange)="automaticService.actionFilterEvent($event, 'id_category')">

            <ng-container *ngIf="util.numberFormat(automaticService.filtersSearch.indexAccount.value) == -1"><!-- Listar todas categorias de todas la cuentas -->
              <ng-container *ngIf="automaticService.filtersSearch.sign.value == '-1' || automaticService.filtersSearch.id_category.value != '0'">
                <option value="0">Todas</option>
                <ng-container *ngFor="let account of automaticService.AccountsBackup">
                  <option *ngFor="let category of account.categoriesAccount" [value]="category.id_category">{{category.id_category}}</option>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="automaticService.filtersSearch.sign.value != '-1' && automaticService.filtersSearch.id_category.value == '0'">
                <option value="0">Todas</option>
                <ng-container *ngFor="let account of automaticService.AccountsBackup">
                  <ng-container *ngFor="let category of account.categoriesAccount">
                    <option *ngIf="category.sign == automaticService.filtersSearch.sign.value" [value]="category.id_category">{{category.id_category}}</option>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="util.numberFormat(automaticService.filtersSearch.indexAccount.value) != -1"><!-- Listar todas categorias de la cuenta seleccionada -->
              <ng-container *ngIf="automaticService.filtersSearch.sign.value == '-1' || automaticService.filtersSearch.id_category.value != '0'">
                <option value="0" *ngIf="automaticService.AccountsBackup[util.numberFormat(automaticService.filtersSearch.indexAccount.value)].categoriesAccount.length > 0">Todos</option>
                <option *ngFor="let category of automaticService.AccountsBackup[util.numberFormat(automaticService.filtersSearch.indexAccount.value)].categoriesAccount;" [value]="category.id_category">{{category.id_category}}</option>
              </ng-container>

              <ng-container *ngIf="automaticService.filtersSearch.sign.value != '-1' && automaticService.filtersSearch.id_category.value == '0'">
                <option value="0" *ngIf="automaticService.AccountsBackup[util.numberFormat(automaticService.filtersSearch.indexAccount.value)].categoriesAccount.length > 0">Todos</option>
                <ng-container *ngFor="let category of automaticService.AccountsBackup[util.numberFormat(automaticService.filtersSearch.indexAccount.value)].categoriesAccount;">
                  <option *ngIf="category.sign == automaticService.filtersSearch.sign.value" [value]="category.id_category">{{category.id_category}}</option>
                </ng-container>
              </ng-container>
            </ng-container>

          </select>
          <button type="button" [ngClass]="(automaticService.filtersSearch.id_category.isFilter) ? 'close': 'btnFilter-disabled'" (click)="automaticService.resetValuefiltroSearch('id_category')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Category
          <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="automaticService.filtersSearch.id_category.value" name="id_category" (ngModelChange)="automaticService.actionFilterEvent($event, 'id_category')">
            <ng-container *ngIf="util.numberFormat(automaticService.filtersSearch.indexAccount.value) == -1">
              <option value="0">Todas</option>
              <ng-container *ngFor="let account of automaticService.AccountsBackup">
                <option *ngFor="let category of account.categoriesAccount" [value]="category.id_category">[{{category.sign}}] {{category.name}}</option>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="util.numberFormat(automaticService.filtersSearch.indexAccount.value) != -1">
              <option value="0" *ngIf="automaticService.AccountsBackup[util.numberFormat(automaticService.filtersSearch.indexAccount.value)].categoriesAccount.length > 0">Todos</option>
              <option *ngFor="let category of automaticService.AccountsBackup[util.numberFormat(automaticService.filtersSearch.indexAccount.value)].categoriesAccount;" [value]="category.id_category">[{{category.sign}}] {{category.name}}</option>
            </ng-container>
          </select>
          <button type="button" [ngClass]="(automaticService.filtersSearch.id_category.isFilter) ? 'close': 'btnFilter-disabled'" (click)="automaticService.resetValuefiltroSearch('id_category')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">Period</th>
      <th scope="col" class="Encabezado-Tabla ">Repeat_number</th>
      <th scope="col" class="Encabezado-Tabla ">Each_number</th>
      <th scope="col" class="Encabezado-Tabla ">Enabled</th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Amount
          <input type="text" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="automaticService.filtersSearch.amount.value" name="amount" (keyup)="automaticService.actionFilterEvent($event, 'amount', true)">
          <button type="button" [ngClass]="(automaticService.filtersSearch.amount.isFilter) ? 'close': 'btnFilter-disabled'" (click)="automaticService.resetValuefiltroSearch('amount')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Sign
          <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="automaticService.filtersSearch.sign.value" name="sign" (ngModelChange)="automaticService.actionFilterEvent($event, 'sign')">
            <option value="-1">Ambos</option>
            <option value="-">-</option>
            <option value="+">+</option>
          </select>
          <button type="button" [ngClass]="(automaticService.filtersSearch.sign.isFilter) ? 'close': 'btnFilter-disabled'" (click)="automaticService.resetValuefiltroSearch('sign')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">Detail</th>
      <th scope="col" class="Encabezado-Tabla ">Initial_date</th>
      <th scope="col" class="Encabezado-Tabla ">Next_date</th>
      <th scope="col" class="Encabezado-Tabla ">Operation_code:</th>
      <th scope="col" class="Encabezado-Tabla ">Rate</th>
      <th scope="col" class="Encabezado-Tabla ">Counter</th>
      <th scope="col" class="Encabezado-Tabla ">Operación</th>
    </tr>
    </thead>
    <tbody *ngIf="!automaticService.isFilter()">
      <tr *ngFor="let automatic of automaticService.Automatics; let i = index" >
        <td scope="row" class="Celdas-Tabla font-weight-bold ">{{(i+1)}}</td>
        <td class="Celdas-Tabla font-italic ">{{automatic.cantidadRepetida}}</td>
        <td class="Celdas-Tabla ">{{automatic.id_operation}}</td>
        <td class="Celdas-Tabla ">{{automatic.id_account}}</td>
        <td class="Celdas-Tabla ">{{automatic.nameAccount}}</td>
        <td class="Celdas-Tabla ">{{automatic.id_category}}</td>
        <td class="Celdas-Tabla ">{{automatic.nameCategory}}</td>
        <td class="Celdas-Tabla ">{{automatic.period}}</td>
        <td class="Celdas-Tabla ">{{automatic.repeat_number}}</td>
        <td class="Celdas-Tabla ">{{automatic.each_number}}</td>
        <td class="Celdas-Tabla ">{{automatic.enabled}}</td>
        <td class="Celdas-Tabla ">{{automatic.amount | currency: automatic.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
        <td class="Celdas-Tabla ">{{automatic.sign}}</td>
        <td class="Celdas-Tabla ">{{automatic.detail}}</td>
        <td class="Celdas-Tabla ">{{(automatic.initial_date == '0000-00-00') ? automatic.initial_date : automatic.initial_date | date: 'dd/MMMM/yyyy'}}</td>
        <td class="Celdas-Tabla ">{{(automatic.final_date == '0000-00-00') ? automatic.final_date : automatic.next_date | date: 'dd/MMMM/yyyy'}}</td>
        <td class="Celdas-Tabla ">{{automatic.operation_code}}</td>
        <td class="Celdas-Tabla ">{{automatic.rate}}</td>
        <td class="Celdas-Tabla ">{{automatic.counter}}</td>
        <td class="Celdas-Tabla ">
          <button type="button" class="btn btn-primary btn-update" (click)="accionAutomatic(util.ACTUALIZAR, automatic, i)">
            <span>
              <fa-icon [icon]="util.faPen"></fa-icon>
            </span>
          </button>
          <button type="button" class="btn btn-danger btn-delete" (click)="accionAutomatic(util.ELIMINAR, automatic, i)">
            <span>
              <fa-icon [icon]="util.faTrash"></fa-icon>
            </span>
          </button>
        </td>
      </tr>
      <div
        [fromRoot]="true"
        infiniteScroll
        [infiniteScrollDistance]="2"
        infiniteScrollContainer=".table-fixed-xl tbody"
        (scrolled)="onScroll()">
      </div>
      <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
      <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
    <tbody *ngIf="automaticService.isFilter()">
      <tr *ngFor="let automatic of automaticService.automaticsFilter; let i = index" >
        <td scope="row" class="Celdas-Tabla ">{{(i+1)}}</td>
        <td class="Celdas-Tabla font-italic ">{{automatic.cantidadRepetida}}</td>
        <td class="Celdas-Tabla ">{{automatic.id_operation}}</td>
        <td class="Celdas-Tabla ">{{automatic.id_account}}</td>
        <td class="Celdas-Tabla ">{{automatic.nameAccount}}</td>
        <td class="Celdas-Tabla ">{{automatic.id_category}}</td>
        <td class="Celdas-Tabla ">{{automatic.nameCategory}}</td>
        <td class="Celdas-Tabla ">{{automatic.period}}</td>
        <td class="Celdas-Tabla ">{{automatic.repeat_number}}</td>
        <td class="Celdas-Tabla ">{{automatic.each_number}}</td>
        <td class="Celdas-Tabla ">{{automatic.enabled}}</td>
        <td class="Celdas-Tabla ">{{automatic.amount | currency: automatic.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
        <td class="Celdas-Tabla ">{{automatic.sign}}</td>
        <td class="Celdas-Tabla ">{{automatic.detail}}</td>
        <td class="Celdas-Tabla ">{{(automatic.initial_date == '0000-00-00') ? automatic.initial_date : automatic.initial_date | date: 'dd/MMMM/yyyy'}}</td>
        <td class="Celdas-Tabla ">{{(automatic.final_date == '0000-00-00') ? automatic.final_date : automatic.next_date | date: 'dd/MMMM/yyyy'}}</td>
        <td class="Celdas-Tabla ">{{automatic.operation_code}}</td>
        <td class="Celdas-Tabla ">{{automatic.rate}}</td>
        <td class="Celdas-Tabla ">{{automatic.counter}}</td>
        <td class="Celdas-Tabla ">
          <button type="button" class="btn btn-primary btn-update" (click)="accionAutomatic(util.ACTUALIZAR, automatic, i)">
            <span>
              <fa-icon [icon]="util.faPen"></fa-icon>
            </span>
          </button>
          <button type="button" class="btn btn-danger btn-delete" (click)="accionAutomatic(util.ELIMINAR, automatic, i)">
            <span>
              <fa-icon [icon]="util.faTrash"></fa-icon>
            </span>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<button type="button" class="btn btn-success rounded-circle addButton" (click)="accionAutomatic(util.AGREGAR)">
  <span>
    <fa-icon [icon]="util.faPlus"></fa-icon>
  </span>
</button>
