<nav class="navbar fixed-top navbar-expand-lg navEncode shadow" [ngClass]="util.onScroll ? 'onScrollPage': 'noScrollPage'">
  <a class="navbar-brand" (click)="eventLogo()" *ngIf="userService.activo()" style="cursor: pointer;">
    <img src="../../../../assets/img/logo.png" class="imgLogo" >
  </a>

  <a class="navbar-brand" routerLink="/login" *ngIf="!userService.activo()">
    <img src="../../../../assets/img/logo.png" class="imgLogo">
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="nav" *ngIf="userService.activo()">
        <!--li class="nav-item">
          <a class="nav-link text-light tamaño-font" routerLinkActive="active" [routerLink]="['/usuarios']">Usuarios</a>
        </li-->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light tamaño-font" id="navbarDropdownMenuUsuariosLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuUsuariosLink">
            <a class="dropdown-item padding-left-p" [routerLink]="['/usuarios']">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faList"></fa-icon>
              </span>
              Listado</a>
            <a class="dropdown-item padding-left-p" [routerLink]="['usuarios/permisos']">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faCheckSquare"></fa-icon>
              </span>
              Permisos</a>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link text-light tamaño-font" routerLinkActive="active" [routerLink]="['/exportacion']">Exportación</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light tamaño-font" id="navbarDropdownMenuMantenimientoLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMantenimientoLink">
            <a class="dropdown-item padding-left-p" [routerLink]="['/mantenimiento/backupsMnt']">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faDatabase"></fa-icon>
              </span>
              Backups</a>
            <a class="dropdown-item padding-left-p" [routerLink]="['/mantenimiento/inconsistenciaMnt']">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faBug"></fa-icon>
              </span>
              Inconsistencia</a>
          </div>
        </li>

      </ul>
      <ul class="nav" *ngIf="userService.activo()">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light tamaño-font" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../../assets/img/admin.png" alt="Avatar" class="avatar">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- class="dropdown-item" (click)="userService.prueba()">Prueba</a>
            <a class="dropdown-item" (click)="generatePass()">Generate Pass</a>
            <a class="dropdown-item" (click)="insertCurrencies()">Currency</a-->
            <a class="dropdown-item padding-left-p" [routerLink]="['/perfil']" >
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faCog"></fa-icon>
              </span>
              Perfil</a>
            <a class="dropdown-item padding-left-p" (click)="userService.logout()">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faTimesCircle"></fa-icon>
              </span>
              Cerrar sesion</a>
          </div>
        </li>
      </ul>

    <ul class="nav" *ngIf="!userService.activo()">
      <li class="nav-item">
        <a class="nav-link text-light tamaño-font" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
      </li>
    </ul>

  </div>
</nav>
