.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}

li{
  margin-left: 5px !important;
}

.text-light {
  color: #bbbbbb !important;
}
.text-light:hover {
  color: #dbdbdb !important;
}

.nav-link.active {
  color: #ffffff !important;

}

.padding-left-p {
  padding-left: 15px;
}
.margin-rigth-p {
  margin-right: 10px;
}

