<nav class="navbar fixed-top navbar-expand-lg navEncode shadow-sm">
  <a class="navbar-brand" (click)="eventLogo()" *ngIf="userService.activo()" style="cursor: pointer;">
    <img src="../../../../assets/img/logo.png" class="imgLogo" >
  </a>

  <a class="navbar-brand" routerLink="/login" *ngIf="!userService.activo()">
    <img src="../../../../assets/img/logo.png" class="imgLogo">
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="nav" *ngIf="userService.activo()">
        <li class="nav-item">
          <a class="nav-link text-light tamaño-font" routerLinkActive="active" [routerLink]="['/usuario']">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light tamaño-font" routerLinkActive="active" [routerLink]="['/exportacion']">Exportación</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light tamaño-font" id="navbarDropdownMenuMantenimientoLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMantenimientoLink">
            <a class="dropdown-item" [routerLink]="['/mantenimiento/backupsMnt']">Backups</a>
            <a class="dropdown-item" [routerLink]="['/mantenimiento/inconsistenciaMnt']">Inconsistencia</a>
          </div>
        </li>

      </ul>
      <ul class="nav" *ngIf="userService.activo()">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light tamaño-font" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../../assets/img/admin.png" alt="Avatar" class="avatar">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="userService.prueba()">Prueba</a>
            <a class="dropdown-item" (click)="generatePass()">Generate Pass</a>
            <a class="dropdown-item" (click)="insertCurrencies()">Currency</a>
            <a class="dropdown-item" href="#" >Configurar</a>
            <a class="dropdown-item" (click)="userService.logout()">Cerrar sesion</a>
          </div>
        </li>
      </ul>

    <ul class="nav" *ngIf="!userService.activo()">
      <li class="nav-item">
        <a class="nav-link text-light tamaño-font" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
      </li>
    </ul>

  </div>
</nav>
