<div class="modal fade" id="modalConfirmLogout" tabindex="-1" role="dialog" aria-labelledby="modalPermisos_UsuarioTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalPermisos_UsuarioTitle">Cerrar sesión:</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row" style="width: 100%; display: block; margin:200px 0px;">
            <h5 class="text-center" style="font-weight: 500;">¿ Esta seguro de cerrar la sesión actual ?</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>


<nav class="navbar fixed-top navbar-expand-lg navEncode" [ngClass]="util.onScroll ? 'onScrollPage': 'noScrollPage'">
  <a class="navbar-brand" (click)="eventLogo()" style="cursor: pointer;">
    <img src="../../../../assets/img/logo.png" class="imgLogo" >
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ng-container *ngIf="userService.activo()">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a *ngIf="userService.isValidTipoUser(util.SUPERADMIN) || userService.isValidTipoUser(util.ADMIN)" class="nav-link dropdown-toggle text-light tamaño-font" id="navbarDropdownMenuUsuariosLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuUsuariosLink">
            <a class="dropdown-item padding-left-p" [routerLink]="['/usuarios']" *ngIf="userService.isValidTipoUser(util.SUPERADMIN) || userService.isValidTipoUser(util.ADMIN)">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faList"></fa-icon>
              </span>
              Listado</a>
            <a class="dropdown-item padding-left-p" [routerLink]="['usuarios/permisos']" *ngIf="userService.isValidTipoUser(util.SUPERADMIN)">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faCheckSquare"></fa-icon>
              </span>
              Permisos</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light tamaño-font" routerLinkActive="active" [routerLink]="['/exportacion']">Exportación</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light tamaño-font" id="navbarDropdownMenuMantenimientoLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMantenimientoLink">
            <a class="dropdown-item padding-left-p" [routerLink]="['/mantenimiento/backupsMnt']">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faDatabase"></fa-icon>
              </span>
              Backups</a>
            <a class="dropdown-item padding-left-p" [routerLink]="['/mantenimiento/inconsistenciaMnt']">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faBug"></fa-icon>
              </span>
              Inconsistencia</a>
          </div>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light tamaño-font" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="urlAvatar()" alt="Avatar" class="avatar">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item padding-left-p" [routerLink]="['/perfil']" >
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faCog"></fa-icon>
              </span>
              Perfil</a>
            <a class="dropdown-item padding-left-p" data-toggle="modal" data-target="#modalConfirmLogout">
              <span class="margin-rigth-p">
                <fa-icon [icon]="util.faTimesCircle"></fa-icon>
              </span>
              Cerrar sesion</a>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="!userService.activo()">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-light tamaño-font" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
        </li>
      </ul>
    </ng-container>

  </div>
</nav>
