.categoria {
  width: 100%!important;
  height: 15px!important;
  background-color: #0052ff;
  border: 1px solid #1b0d37;
  border-radius: 2px;
}
.table-fixed tbody tr {
  height: 40px !important;
}
.table-fixed thead{
  height: 50px !important;
}
@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .table-fixed tbody{
    height: 600px !important;
  }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  .table-fixed tbody{
    height:
      380px !important;
  }
}
