
<div class="tamaño-titulo-encabezado">
  <div class="tam-titulo-encabezado">
    <h3 class="font-weight-normal text-light">Detalles Respaldo # {{numBack}}, Id_Backup: {{idBack}}</h3>
    <h4 class="font-weight-light text-light"><a [routerLink]="['/home/backups/detalleUsuario']" class="text-light" style="text-decoration: none;">{{userService.User.email}}</a> </h4>
  </div>
</div>

<ul class="nav nav-tabs nav-color">
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['accounts']">Accounts</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['automatics']">Automatics</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['budgets']">Budgets</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['cardviews']">CardViews</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['categories']">Categories</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['currencies']">Currencies</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['extras']">Extras</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['movements']">Movements</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['preferences']">Preferences</a>
  </li>
</ul>
<router-outlet></router-outlet>
