<div class="tamaño-titulo-encabezado">
  <div class="tam-titulo-encabezado">
    <div class="row">
      <div class="col-2">
        <div class="row" style="display: inline-block">
          <button class="btn btn-outline-info rounded-circle" style="width: 50px; height: 50px">
          <span>
            <fa-icon [icon]="util.faArrowLeft"></fa-icon>
          </span>
          </button>
          <button class="btn btn-outline-info rounded-circle" style="width: 50px; height: 50px">
          <span>
            <fa-icon [icon]="util.faRecycle"></fa-icon>
          </span>
          </button>
        </div>

      </div>
      <div class="col-8">
        <h2 class="text-light">Detalles Respaldo # {{numBack}} Backup {{idBack}}</h2>
      </div>
      <div class="col-2"></div>
    </div>
    <h4 class="text-light"><a [routerLink]="['/detalleUsuario']" class="text-light" style="text-decoration: none;">{{userService.User.email}}</a> </h4>
  </div>
</div>
<ul class="nav nav-tabs nav-color">
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['accounts']">Accounts</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['automatics']">Automatics</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['budgets']">Budgets</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['cardviews']">CardViews</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['categories']">Categories</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['currencies']">Currencies</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['extras']">Extras</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['movements']">Movements</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['preferences']">Preferences</a>
  </li>
</ul>
<router-outlet></router-outlet>
