<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>

<div class="container text-center" *ngIf="movementsService.Movements.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">{{util.msj}}</h2>
</div>
<div *ngIf="movementsService.Movements.length > 0" class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla">#</th>
      <th scope="col" class="Encabezado-Tabla font-italic">Repeated</th>
      <th scope="col" class="Encabezado-Tabla">Id_Backup</th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Id_Account
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Account
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Id_Category
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Category
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Amount
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Sign
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Detail
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Date_record
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">Time_record</th>
      <th scope="col" class="Encabezado-Tabla">Confirmed</th>
      <th scope="col" class="Encabezado-Tabla">Transfer</th>
      <th scope="col" class="Encabezado-Tabla">Date_idx</th>
      <th scope="col" class="Encabezado-Tabla">Day</th>
      <th scope="col" class="Encabezado-Tabla">Week</th>
      <th scope="col" class="Encabezado-Tabla">Fortnight</th>
      <th scope="col" class="Encabezado-Tabla">Month</th>
      <th scope="col" class="Encabezado-Tabla">Year</th>
      <th scope="col" class="Encabezado-Tabla">Operation_code</th>
      <th scope="col" class="Encabezado-Tabla">Picture</th>
      <th scope="col" class="Encabezado-Tabla">Iso_code</th>
      <th scope="col" class="Encabezado-Tabla">Operación</th>
    </thead>
    <tbody *ngIf="!movementsService.isFilter()">
    <tr *ngFor="let movement of movementsService.Movements; let i = index" >
      <td scope="row" class="Celdas-Tabla font-weight-bold">{{(i+1)}}</td>
      <td class="Celdas-Tabla font-italic">{{movement.repeated}}</td>
      <td class="Celdas-Tabla">{{movement.id_backup}}</td>
      <td class="Celdas-Tabla">{{movement.id_account}}</td>
      <td class="Celdas-Tabla">{{movement.nameAccount}}</td>
      <td class="Celdas-Tabla">{{movement.id_category}}</td>
      <td class="Celdas-Tabla">{{movement.nameCategory}}</td>
      <td class="Celdas-Tabla">{{movement.amount | currency: movement.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
      <td class="Celdas-Tabla">{{movement.sign}}</td>
      <td class="Celdas-Tabla">{{movement.detail}}</td>
      <td class="Celdas-Tabla ">{{(movement.date_record == '0000-00-00') ? movement.date_record : movement.date_record  | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla">{{movement.time_record}}</td>
      <td class="Celdas-Tabla">{{movement.confirmed}}</td>
      <td class="Celdas-Tabla">{{movement.transfer}}</td>
      <td class="Celdas-Tabla">{{movement.date_idx}}</td>
      <td class="Celdas-Tabla">{{movement.day}}</td>
      <td class="Celdas-Tabla">{{movement.week}}</td>
      <td class="Celdas-Tabla">{{movement.fortnight}}</td>
      <td class="Celdas-Tabla">{{movement.month}}</td>
      <td class="Celdas-Tabla">{{movement.year}}</td>
      <td class="Celdas-Tabla">{{movement.operation_code}}</td>
      <td class="Celdas-Tabla">{{movement.picture}}</td>
      <td class="Celdas-Tabla">{{movement.iso_code}}</td>
      <td class="Celdas-Tabla">
        <button type="button" [disabled]="true" class="btn btn-primary btn-Mnt-Inconsistencia">
          <span>
            <fa-icon [icon]="util.faTools"></fa-icon>
          </span>
        </button>
      </td>
    </tr>
    <div
      [fromRoot]="true"
      infiniteScroll
      [infiniteScrollDistance]="1"
      infiniteScrollContainer=".table-fixed-xl tbody"
      (scrolled)="onScroll($event)">
    </div>
    <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
    <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
    <tbody *ngIf="movementsService.isFilter()">
    <tr *ngFor="let movement of movementsService.movementsFilter; let i = index" >
      <td scope="row" class="Celdas-Tabla font-weight-bold">{{(i+1)}}</td>
      <td class="Celdas-Tabla font-italic">{{movement.repeated}}</td>
      <td class="Celdas-Tabla">{{movement.id_backup}}</td>
      <td class="Celdas-Tabla">{{movement.id_account}}</td>
      <td class="Celdas-Tabla">{{movement.nameAccount}}</td>
      <td class="Celdas-Tabla">{{movement.id_category}}</td>
      <td class="Celdas-Tabla">{{movement.nameCategory}}</td>
      <td class="Celdas-Tabla">{{movement.amount | currency: movement.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
      <td class="Celdas-Tabla">{{movement.sign}}</td>
      <td class="Celdas-Tabla">{{movement.detail}}</td>
      <td class="Celdas-Tabla ">{{(movement.date_record == '0000-00-00') ? movement.date_record : movement.date_record  | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla">{{movement.time_record}}</td>
      <td class="Celdas-Tabla">{{movement.confirmed}}</td>
      <td class="Celdas-Tabla">{{movement.transfer}}</td>
      <td class="Celdas-Tabla">{{movement.date_idx}}</td>
      <td class="Celdas-Tabla">{{movement.day}}</td>
      <td class="Celdas-Tabla">{{movement.week}}</td>
      <td class="Celdas-Tabla">{{movement.fortnight}}</td>
      <td class="Celdas-Tabla">{{movement.month}}</td>
      <td class="Celdas-Tabla">{{movement.year}}</td>
      <td class="Celdas-Tabla">{{movement.operation_code}}</td>
      <td class="Celdas-Tabla">{{movement.picture}}</td>
      <td class="Celdas-Tabla">{{movement.iso_code}}</td>
      <td class="Celdas-Tabla">
        <button type="button" [disabled]="true" class="btn btn-primary btn-Mnt-Inconsistencia">
          <span>
            <fa-icon [icon]="util.faTools"></fa-icon>
          </span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
