<div class="modal fade" id="modalMovement" tabindex="-1" role="dialog" aria-labelledby="modalMovementTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalMovementTitle">Corregir Inconsistencia Movement</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="row" style="width: 100%; display: block; margin-bottom: 20px;">
            <h5 class="text-center font-weight-500">¿ Esta seguro de corregir las {{movementSelected.repeated}} inconsistencias de datos del siguiente Movimiento ?</h5>
            <h5 class="text-center font-weight-normal" >Id_Backup: {{movementSelected.id_backup}}</h5>
          </div>

          <fieldset class="form-group" >
            <div class="form-row">
              <div class="form col checkRadioCenter">
                <div class="custom-control custom-radio width-90">
                  <input type="radio" class="custom-control-input" id="customControlValidation2" name="sign" value="+" [(ngModel)]="movementSelected.sign" disabled>
                  <label class="custom-control-label" for="customControlValidation2">Ingresos</label>
                </div>
              </div>
              <div class="form col checkRadioCenter">
                <div class="custom-control custom-radio width-90">
                  <input type="radio" class="custom-control-input" id="customControlValidation3" name="sign" value="-" [(ngModel)]="movementSelected.sign" disabled>
                  <label class="custom-control-label" for="customControlValidation3">Gastos</label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group">
            <div class="form-row">
              <div class="form col">
                <label for="id_account">Account: </label>
                <input type="text" class="form-control" id="id_account" [(ngModel)]="movementSelected.nameAccount" readonly>
              </div>
              <div class="form col">
                <label for="id_category">Category: </label>
                <input type="text" class="form-control" id="id_category" [(ngModel)]="movementSelected.nameCategory" readonly>
              </div>
              <div class="form col">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" [(ngModel)]="movementSelected.amount" [step]="util.stepDecimal" readonly>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="detail">Detail: </label>
            <textarea  type="text" class="form-control" id="detail" [(ngModel)]="movementSelected.detail" readonly></textarea>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="date_record">Date_Record</label>
                <input type="text" readonly class="form-control" id="date_record" [value]="(movementSelected.date_record == '0000-00-00') ? movementSelected.date_record : movementSelected.date_record | date: 'dd/MMMM/yyyy'" >
              </div>
              <div class="col">
                <label for="time_record">Time_Record</label>
                <input type="text" readonly class="form-control" id="time_record" [value]="movementSelected.time_record" >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="confirmed" [checked]="(movementSelected.confirmed == 1)" disabled>
                      <label class="custom-control-label" for="confirmed">Confirmed</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="transfer" [checked]="(movementSelected.transfer == 1)" disabled>
                      <label class="custom-control-label" for="transfer">Transfer</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="date_idx">Date_Idx: </label>
                <input type="text" class="form-control" id="date_idx" [(ngModel)]="movementSelected.date_idx" readonly>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="form col">
                <div class="row">
                  <div class="col">
                    <label for="week">Week</label>
                    <input type="number" class="form-control" id="week" [(ngModel)]="movementSelected.week" readonly>
                  </div>
                  <div class="col">
                    <label for="fortnight">Fortnight</label>
                    <input type="number" class="form-control" id="fortnight" [(ngModel)]="movementSelected.fortnight" readonly>
                  </div>
                </div>
              </div>
              <div class="form col">
                <div class="row">
                  <div class="col">
                    <label for="day">Day</label>
                    <input type="number" class="form-control" id="day" [(ngModel)]="movementSelected.day" readonly>
                  </div>
                  <div class="col">
                    <label for="month">Month</label>
                    <select disabled class="form-control" id="month" [(ngModel)]="movementSelected.month">
                      <option value="">Seleccione un mes</option>
                      <option *ngFor="let month of util.nameMonth" [value]="month.value">{{month.nameSorth}}</option>
                    </select>
                  </div>
                  <div class="col">
                    <label for="year">Year</label>
                    <input type="number" class="form-control" id="year" [(ngModel)]="movementSelected.year" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form row">
              <div class="form col">
                <label for="operation_code">Operation_Code</label>
                <input type="text" class="form-control" id="operation_code" [(ngModel)]="movementSelected.operation_code" readonly>
              </div>
              <div class="col">
                <label for="iso_code">Iso_Code</label>
                <input type="text" class="form-control" id="iso_code" [(ngModel)]="movementSelected.iso_code" readonly>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="picture">Picture</label>
            <input type="text" class="form-control" id="picture" [(ngModel)]="movementSelected.picture" readonly>
          </div>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" (click)="corregirInconsistenciaRegistro()">Corregir</button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" *ngIf="movementsService.Movements.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">{{util.msj}}</h2>
</div>
<div *ngIf="movementsService.Movements.length > 0" class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla">#</th>
      <th scope="col" class="Encabezado-Tabla font-italic">Repeated</th>
      <th scope="col" class="Encabezado-Tabla">Id_Backup</th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Id_Account
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Account
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Id_Category
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Category
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Amount
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Sign
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Detail
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Date_record
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">Time_record</th>
      <th scope="col" class="Encabezado-Tabla">Confirmed</th>
      <th scope="col" class="Encabezado-Tabla">Transfer</th>
      <th scope="col" class="Encabezado-Tabla">Date_idx</th>
      <th scope="col" class="Encabezado-Tabla">Day</th>
      <th scope="col" class="Encabezado-Tabla">Week</th>
      <th scope="col" class="Encabezado-Tabla">Fortnight</th>
      <th scope="col" class="Encabezado-Tabla">Month</th>
      <th scope="col" class="Encabezado-Tabla">Year</th>
      <th scope="col" class="Encabezado-Tabla">Operation_code</th>
      <th scope="col" class="Encabezado-Tabla">Picture</th>
      <th scope="col" class="Encabezado-Tabla">Iso_code</th>
      <th scope="col" class="Encabezado-Tabla">Operación</th>
    </thead>
    <tbody >
    <tr *ngFor="let movement of movementsService.Movements; let i = index" >
      <td scope="row" class="Celdas-Tabla font-weight-bold">{{(i+1)}}</td>
      <td class="Celdas-Tabla font-italic">{{movement.repeated}}</td>
      <td class="Celdas-Tabla">{{movement.id_backup}}</td>
      <td class="Celdas-Tabla">{{movement.id_account}}</td>
      <td class="Celdas-Tabla">{{movement.nameAccount}}</td>
      <td class="Celdas-Tabla">{{movement.id_category}}</td>
      <td class="Celdas-Tabla">{{movement.nameCategory}}</td>
      <td class="Celdas-Tabla">{{movement.amount | currency: movement.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
      <td class="Celdas-Tabla">{{movement.sign}}</td>
      <td class="Celdas-Tabla">{{movement.detail}}</td>
      <td class="Celdas-Tabla ">{{(movement.date_record == '0000-00-00') ? movement.date_record : movement.date_record  | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla">{{movement.time_record}}</td>
      <td class="Celdas-Tabla">{{movement.confirmed}}</td>
      <td class="Celdas-Tabla">{{movement.transfer}}</td>
      <td class="Celdas-Tabla">{{movement.date_idx}}</td>
      <td class="Celdas-Tabla">{{movement.day}}</td>
      <td class="Celdas-Tabla">{{movement.week}}</td>
      <td class="Celdas-Tabla">{{movement.fortnight}}</td>
      <td class="Celdas-Tabla">{{movement.month}}</td>
      <td class="Celdas-Tabla">{{movement.year}}</td>
      <td class="Celdas-Tabla">{{movement.operation_code}}</td>
      <td class="Celdas-Tabla">{{movement.picture}}</td>
      <td class="Celdas-Tabla">{{movement.iso_code}}</td>
      <td class="Celdas-Tabla">
        <button type="button" class="btn btn-primary btn-Mnt-Inconsistencia" (click)="accionCorregirRegistro(movement, i)">
          <span>
            <fa-icon [icon]="util.faTools"></fa-icon>
          </span>
        </button>
      </td>
    </tr>
    <div
      [fromRoot]="true"
      infiniteScroll
      [infiniteScrollDistance]="1"
      infiniteScrollContainer=".table-fixed-xl tbody"
      (scrolled)="onScroll($event)">
    </div>
    <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
    <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
  </table>
</div>
