<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Buscando Backups</p>
</ngx-spinner>

<div class="container-home">
  <img src="./../../../../assets/img/background-lg.png" style="width: 100%; height: 100%;  /*filter: blur(20px) !important;*/">
</div>

<div class="searchBar">
  <form class="form-row form-container" [formGroup]="usuarioSearch" (ngSubmit)="search()">
    <div class="col-11">
      <input formControlName="email" type="email"  name="correo" class="form-control-lg inputSearch" placeholder="Ingrese el correo del usuario" aria-label="Search">
    </div>
    <div class="col-1">
      <button class="btn btn-lg btn-primary btnSearch shadow-sm" type="submit" [disabled]="usuarioSearch.invalid">
            <span class="tamaño-font">
              <fa-icon [icon]="util.faSearch"></fa-icon>
            </span>
      </button>
    </div>
  </form>
</div>
