<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{msj}}</p>
</ngx-spinner>
<div class="row" style="margin-top: 50px;">
  <div class="col-7"></div>
  <div class="col-3">
    <div class="form-group row">
      <label for="backup" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Backup:</label>
      <div class="col-sm-8">
        <select id="backup" class="form-control" [(ngModel)]="backup" name="backup" (change)="prueba()" >
          <option *ngFor="let a of backups;" value="{{a.id_backup}}">{{a.id_backup}}</option>
        </select>
      </div>

    </div>
  </div>
  <div class="col-2">
    <div class="form-group row">
      <label for="year" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Año:</label>
      <div class="col-sm-8">
        <select id="year" class="form-control" [(ngModel)]="year" name="year"(change)="prueba()">
          <option *ngFor="let y of years;" [value]="y.year">{{(y.year == '0') ? 'Todos' : y.year}}</option>
        </select>
      </div>

    </div>

  </div>
</div>
<div>

  <div style="display: block">

    <div class="row">
      <div class="col-10">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
      <div class="col-2">
        <canvas baseChart
                [datasets]="TotalbarChartData"
                [labels]="TotalbarChartLabels"
                [options]="TotalbarChartOptions"
                [legend]="TotalbarChartLegend"
                [chartType]="TotalbarChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>
