.color-var-ingresos{
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
}
.color-var-gastos{
   background-color: var(--pink);
   border-radius: 5px;
   color: white;
 }
.border-b{
  border-bottom: 1px solid var(--secondary);
}
.col-4 {
  width: 40% !important;
}
.col-8 {
  width:60% !important;
}

.table-fixed tbody tr {
  height: 45px !important;
}
.table-fixed thead{
  height: 50px !important;
}
@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .table-fixed tbody{
    height: 300px !important;
  }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  .table-fixed tbody{
    height: 80px !important;
  }
}
