<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{msj}}</p>
</ngx-spinner>
<div class="row" style="margin-top: 50px;">
  <div class="col-7"></div>
  <div class="col-3">
    <div class="form-group row">
      <label for="backup" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Backup:</label>
      <div class="col-sm-8">
        <select id="backup" class="form-control" [(ngModel)]="backup" name="backup" (change)="prueba()" >
          <option *ngFor="let a of backups;" value="{{a.id_backup}}">{{a.id_backup}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="form-group row">
      <label for="year" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Año:</label>
      <div class="col-sm-8">
        <select id="year" class="form-control" [(ngModel)]="year" name="year"(change)="prueba()">
          <option *ngFor="let y of years;" [value]="y.year">{{(y.year == '0') ? 'Todos' : y.year}}</option>
        </select>
      </div>

    </div>

  </div>
</div>
<div>

  <div style="display: block; padding-left: 5px; padding-right: 5px">

    <div class="row">
      <div class="col-9">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
      <div class="col-3">
        <table class="table table-sm table-hover" style="font-size: small" *ngIf="TotalbarChartLabels.length > 0">
          <thead class="thead-dark">

          <th class="text-center"  style="width: 70%; padding-left: 30%;">
            Año: {{TotalbarChartLabels}}
          </th>
          <th class="text-center" style="width: 30%">
            <button class="btn btn-outline-info btn-sm" (click)="exportPDF()">
            <span>
                <fa-icon [icon]="util.faFileExport"></fa-icon>
              </span>
            </button>
          </th>


          </thead>
          <thead>
          <tr>
            <th scope="col" class="col-4">Variables</th>
            <th scope="col" class="col-8">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="color-var-ingresos col-4">Ingresos</td>
            <td class="col-8">{{TotalbarChartData[1].data[0] | currency: '$':'symbol': util.symbolDecimalNumber6Digits}}</td>
          </tr>
          <tr class="mb-2">
            <td class="color-var-gastos col-4">Gastos</td>
            <td class="border-b col-8">{{TotalbarChartData[0].data[0] | currency: '$': util.symbolDecimalNumber6Digits}}</td>
          </tr>
          <tr>
            <td class="col-4">Diferencia</td>
            <td class="col-8">{{diferencia() | currency: '$':'symbol': util.symbolDecimalNumber6Digits}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
