<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>

<app-titulo-encabezado titulo="Listado de usuarios"></app-titulo-encabezado>

<div class="modal fade" id="modalPermisos_Usuario" tabindex="-1" role="dialog" aria-labelledby="modalPermisos_UsuarioTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" [ngClass]="util.obtisFullHDDisplay() ? 'modal-xl' : 'modal-lg'" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalPermisos_UsuarioTitle">Permisos Usuario: {{UsuarioSelected.email}}</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">

          <div class="flex-row-reverse mb-2 mt-2">
            <div class="custom-control custom-switch ">
              <input type="checkbox" class="custom-control-input" id="isUpdatePermisosSelectUsuario" [(ngModel)]="isUpdatePermisosSelectUsuario">
              <label class="custom-control-label" for="isUpdatePermisosSelectUsuario">Actualizar</label>
            </div>
          </div>

          <table class="table table-hover table-fixed">
            <thead class="thead-dark">
            <tr class="text-center">
              <th class="v-a-middle font-weight-500 width-sm">Permiso</th>
              <th class="v-a-middle font-weight-500 width-lg">Descripcion</th>
              <th class="v-a-middle font-weight-500 width-sm">Seleccionar</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let permiso of usuarioService.PermisosGral; let i = index">
              <tr class="text-center" (click)="checkPermiso(i)" [ngClass]="(permiso.checked) ? 'HeaderSelected' : 'HeaderNoSelected'">
                <td class="v-a-middle width-sm">{{permiso.permiso}}</td>
                <td class="v-a-middle width-lg">{{permiso.descripcion}}</td>
                <td class="v-a-middle width-sm">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [id]="i"  [disabled]="!isUpdatePermisosSelectUsuario" [checked]="permiso.checked" (click)="checkPermiso(i)">
                    <label class="custom-control-label" [attr.for]="i"></label>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" *ngIf="isUpdatePermisosSelectUsuario" (click)="actualizarPermisosUsuario()">Actualizar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" *ngIf="Usuario != null">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalUsuarioTitle">{{option}} Usuario</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="Usuario" (ngSubmit)="operation()">
        <div class="modal-body">
          <div class="row" style="width: 100%; display: block; margin-bottom: 20px;" *ngIf="option == util.OPERACION_ELIMINAR">
            <h5 class="text-center" style="font-weight: 500;">¿ Esta seguro de eliminar el siguiente Usuario ?</h5>
          </div>
          <div class="container">

            <div class="form-row">

              <div class="col-5 d-flex align-content-center justify-content-center">
                <div class="img-preview">
                  <img  id="imgSalida" src="{{urlImg}}"/>
                  <input [disabled]="util.isDelete(option)" type="file" (change)="agregarImagen($event)" accept="image/*">
                </div>
              </div>
              <div class="col-7">
                <div class="form-group">
                  <label for="email">Email: </label>
                  <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="(getError('email') == '') ? 'valid-control' : 'invalid-control'">
                  <div class="invalid-feedback">{{ getError('email')}}</div>
                </div>

                <div class="form-group" *ngIf="option == util.OPERACION_AGREGAR">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="(getError('password') == '') ? 'valid-control' : 'invalid-control'">
                  <div class="invalid-feedback">{{ getError('password')}}</div>
                </div>

                <div class="form-group">
                  <label for="tipo">Tipo: </label>
                  <select class="form-control" id="tipo" formControlName="tipo" [ngClass]="(getError('tipo') == '') ? 'valid-control' : 'invalid-control'">
                    <option value="">Seleccione un tipo</option>
                    <option value="admin" *ngIf="usuarioService.isValidTipoUser(util.SUPERADMIN)">Administrador</option>
                    <option value="aux">Auxiliar</option>
                  </select>
                  <div class="invalid-feedback">{{ getError('tipo')}}</div>
                </div>

                <div class="form-group">
                  <label for="cargo">Cargo: </label>
                  <input type="text" class="form-control" id="cargo" formControlName="cargo" [ngClass]="(getError('cargo') == '') ? 'valid-control' : 'invalid-control'">
                  <div class="invalid-feedback">{{ getError('cargo')}}</div>
                </div>

              </div>

            </div>

            <div class="form">
              <div class="card rounded card-Permisos ">
                <div class="card-header card-header-Permisos border-top-0 border-left-0 border-right-0 border-bottom">
                  <div >
                    <label class="font-weight-normal">Permisos</label>
                    <button type= "button" class="btn btn-outline-info rounded-circle btn-sm" (click)="cargarPermisosGral()">
                      <span>
                        <fa-icon [icon]="util.faChevronDown" *ngIf="!isExpandedPermisoCard"></fa-icon>
                        <fa-icon [icon]="util.faChevronUp" *ngIf="isExpandedPermisoCard"></fa-icon>
                      </span>
                    </button>
                  </div>
                </div>
                <div #cntPermisos class="card-body card-body-Permisos p-0 body-Table-Permiso">
                  <table class="table table-hover table-fixed">
                    <thead class="thead-dark">
                    <tr class="text-center">
                      <th class="v-a-middle font-weight-500 width-sm">Permiso</th>
                      <th class="v-a-middle font-weight-500 width-lg">Descripción</th>
                      <th class="v-a-middle font-weight-500 width-sm">Seleccionar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let permiso of usuarioService.PermisosGral; let i = index">
                      <tr class="text-center" (click)="checkPermiso(i)" [ngClass]="(permiso.checked) ? 'HeaderSelected' : 'HeaderNoSelected'">
                        <td class="v-a-middle width-sm">{{permiso.permiso}}</td>
                        <td class="v-a-middle width-lg">{{permiso.descripcion}}</td>
                        <td class="v-a-middle width-sm">
                          <div class="custom-control custom-checkbox"  >
                            <input type="checkbox" class="custom-control-input" [id]="i"  [disabled]="util.isDelete(option)" [checked]="permiso.checked" (click)="checkPermiso(i)">
                            <label class="custom-control-label" [attr.for]="i"></label>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cerrar</button>
          <button type="submit" [ngClass]="util.classModal(option)" [disabled]="Usuario.invalid">{{option}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-users">

  <div class="row row-card">
    <div *ngIf="usuarioService.Usuarios.length == 0">
      <h2 class="font-weight-lighter">{{util.msj}}</h2>
    </div>
    <ng-container *ngFor="let user of usuarioService.Usuarios; let i = index">
      <div class="col-4 col-user">
        <div class="card card-user">
          <div class="card-header card-header-user">
            <div class="desenfoque">
              <img [src]="usuarioService.url + 'util/avatar/' + user.imagen" style="width: 100%">
            </div>
            <img [src]="usuarioService.url + 'util/avatar/' + user.imagen" class="avatar-user">
          </div>
          <div class="card-body card-body-user">
            <p class="font-weight-500">{{user.email}}</p>
            <p class="font-weight-normal">{{util.nameTipo(user.tipo)}}</p>
            <p class="font-weight-light">{{user.cargo}}</p>
          </div>
          <div class="row card-footer">
            <div class="col">
                <button type="button" class="btn btn-outline-info button-option" data-toggle="tooltip" data-placement="top" title="Permisos" data-toggle="modal" data-target="#modalPermisos_Usuario" (click)="actionPermisosUsuario(util.OPERACION_CONSULTA, user, i)">
                  <span>
                  <fa-icon [icon]="util.faCheckSquare" ></fa-icon>
                </span>
                </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-primary button-option"  data-toggle="tooltip" data-placement="top" title="Actualizar" data-toggle="modal" data-target="#modalUsuario" (click)="actionUsuario(util.OPERACION_ACTUALIZAR, user, i)">
                <span>
                  <fa-icon [icon]="util.faPen" ></fa-icon>
                </span>
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-danger button-option" data-toggle="tooltip" data-placement="top" title="Eliminar" data-toggle="modal" data-target="#modalUsuario" (click)="actionUsuario(util.OPERACION_ELIMINAR, user, i)">
                <span>
                  <fa-icon [icon]="util.faTrash" ></fa-icon>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<button class="btn btn-outline-success rounded-circle addButton" data-toggle="modal" data-target="#modalUsuario" (click)="actionUsuario(util.OPERACION_AGREGAR)">
  <span>
    <fa-icon [icon]="util.faUserPlus" ></fa-icon>
  </span>
</button>
