@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .table-fixed-xl {
    width: 300% !important;
  }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  .table-fixed-xl {
    width: 400% !important;
  }
}
.table-fixed-xl thead tr th,
.table-fixed-xl tbody tr td {
  width: 4.3478% !important;
}
