<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>

<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalConfirmExportBackup" tabindex="-1" role="dialog" aria-labelledby="modalConfirmExportBackupTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalConfirmExportBackupTitle" *ngIf="option == util.EXPORTAR">Exportar Backup: {{backupService.userBackups[backupService.indexUser].id_BackupSelected}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="option = ''">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

         <div *ngIf="option == util.EXPORTAR">

          <div class="container" >
            <div class="row titulo-Modal">
              <h5 class="text-center font-weight-500">¿ Como desea exportar el Respaldo con Id_backup: {{backupService.userBackups[backupService.indexUser].id_BackupSelected}} del Usuario: {{backupService.userBackups[backupService.indexUser].email}} ?</h5>
            </div>

            <fieldset class="form-group" style="margin-top: 200px; margin-bottom: 200px;">
              <div class="form-row">
                <div class="form col checkRadioCenter">
                  <div class="custom-control custom-radio width-90">
                    <input type="radio" class="custom-control-input" id="customControlValidation2" name="typeExport" [(ngModel)]="typeEXport" value="sqlite">
                    <label class="custom-control-label" for="customControlValidation2">.SQLite</label>
                  </div>
                </div>
                <div class="form col checkRadioCenter">
                  <div class="custom-control custom-radio width-90">
                    <input type="radio" class="custom-control-input" id="customControlValidation3" name="typeExport" [(ngModel)]="typeEXport" value="xlsx">
                    <label class="custom-control-label" for="customControlValidation3">.Xlsx</label>
                  </div>
                </div>
              </div>
            </fieldset>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="option = ''">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="exportBackup()">Exportar</button>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->



<div class="tamaño-titulo-encabezado">
  <div class="tam-titulo-encabezado"  style="padding-top: 160px !important;">
    <nav class="navbar navbar-light bg-light" style = "padding-left: 40px; padding-right: 40px; background: transparent !important">
      <form class="form-row" style="width: 100% !important" (submit)="search()">
        <div class="col-11">
          <input [(ngModel)]="email" name="correo" class="form-control-lg inputSearch" type="email" placeholder="Ingrese el correo del cliente" aria-label="Search">
        </div>
        <div class="col-1">
          <button class="btn btn-lg btn-primary btnSearch" type="submit">
            <span>
              <fa-icon [icon]="util.faSearch"></fa-icon>
            </span>
          </button>
        </div>
      </form>
    </nav>
  </div>
</div>

<div class="text-center" style=" padding: 50px">
  <h3 class="font-weight-500">Exportación Backups:</h3>
  <h3 class="font-weight-normal">{{util.emailUserExportacionBackups}}</h3>
</div>

<button class="up-right rounded-circle" (click)="util.subir()">
    <span>
      <fa-icon [icon]="util.faArrowUp"></fa-icon>
    </span>
</button>

<div id="accordion" *ngIf="backupService.userBackups.length > 0">
  <div   class="card rounded shadow-sm mb-md-1 card-rounded-feature" *ngFor="let user of backupService.userBackups; let i = index" >
    <div class="card-header HeaderNoSelected" [id] = "i">
      <div class="row content-row" >
        <div class="col-11 column-userData" >
          <div class="row">
            <div class="col-8">
              <div class="d-inline-flex align-content-center align-items-center" >
                <div class="mr-lg-5">
                  <img src="../../../../../assets/img/android.png" class="img-device mr-2" *ngIf="user.android_v2 == 1 || user.android_v3 == 1" id="device-android">
                  <img src="../../../../../assets/img/ios.png" class="img-device" id="device-ios" *ngIf="user.ios == 1">
                </div>
                <span class="icon-User mr-3">
                    <fa-icon [icon]="util.faUserCircle"></fa-icon>
                  </span>
                <!--h5 class="font-weight-500 mr-2">usuario: </h5-->
                <h5 class="font-weight-normal cursor-point" (click)="detalleUsuario(i)"> {{user.email}}</h5>
              </div>
            </div>
            <div class="col-4">
              <div class="d-inline-flex align-content-center align-items-center heigth-100-Percent">
              <span class="icon-Backups mr-3">
                <fa-icon [icon]="util.faDatabase"></fa-icon>
              </span>
                <h5 class="font-weight-normal"> {{user.cantRep}}</h5>
              </div>
            </div>
          </div>

        </div>
        <div class="col-1 column-checkCollapse">
          <button type="button" class="btn btn-outline-info rounded-circle btn-check-Collapse"  (click)="verficarExpansion(i, user.id_user, user.email)">
            <span>
                <fa-icon *ngIf="!user.collapsed" [icon]="util.faArrowDown"></fa-icon>
              <fa-icon *ngIf="user.collapsed" [icon]="util.faArrowUp"></fa-icon>
            </span>
          </button>
        </div>
      </div>

    </div>

    <div #cntBackupsUser class="tarjetaCuerpo bg-transparent">
      <div *ngIf="user.collapsed">
        <table class="table table-hover table-fixed" *ngIf="user.cantRep > 0" >
          <thead>
          <tr class="text-center" >
            <th scope="col" class="v-a-middle width-sm">#</th>
            <th scope="col" class="v-a-middle width-sm">
              <div class="row inline-grid">
                Id_backup
                <input type="search" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="user.filtrosSearch.id_backup.value" name="id_backup" (keyup)="backupService.actionFilterEvent($event, 'id_backup', true, i)">
                <button type="button" [ngClass]="(user.filtrosSearch.id_backup.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('id_backup', i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </th>
            <th scope="col" class="v-a-middle width-sm">
              <div class="row inline-grid">
                Automatic
                <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="user.filtrosSearch.automatic.value" name="automatic" (ngModelChange)="backupService.actionFilterEvent($event, 'automatic', false, i)">
                  <option value="-1">Ambos</option>
                  <option value="0">No</option>
                  <option value="1">Si</option>
                </select>
                <button type="button" [ngClass]="(user.filtrosSearch.automatic.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('automatic', i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </th>
            <th scope="col" class="v-a-middle width-lg">
              <div class="row inline-grid">
                Date_creation

                <input type="text" [owlDateTimeTrigger]="dateC" [owlDateTime]="dateC" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="user.filtrosSearch.date_creation.value" name="date_creation" (ngModelChange)="backupService.actionFilterEvent($event, 'date_creation', false, i)">
                <owl-date-time #dateC [pickerType]="'calendar'"></owl-date-time>

                <!--input type="date" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="user.filtrosSearch.date_creation.value" name="date_creation" (ngModelChange)="backupService.actionFilterEvent($event, 'date_creation', false, i)"-->
                <button type="button" [ngClass]="(user.filtrosSearch.date_creation.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('date_creation', i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </th>
            <th scope="col" class="v-a-middle width-lg">
              <div class="row inline-grid">
                Date_download

                <input type="text" [owlDateTimeTrigger]="dateD" [owlDateTime]="dateD" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="user.filtrosSearch.date_download.value" name="date_download" (ngModelChange)="backupService.actionFilterEvent($event, 'date_download', false, i)">
                <owl-date-time #dateD [pickerType]="'calendar'"></owl-date-time>

                <!--input type="date" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="user.filtrosSearch.date_download.value" name="date_download" (ngModelChange)="backupService.actionFilterEvent($event, 'date_download', false, i)"-->
                <button type="button" [ngClass]="(user.filtrosSearch.date_download.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('date_download', i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </th>
            <th scope="col" class="v-a-middle width-sm">
              <div class="row inline-grid">
                Created_in
                <input type="text" class="form-control mr-sm-2 form-control-md input-header"  [(ngModel)]="user.filtrosSearch.created_in.value" name="created_in" (keyup)="backupService.actionFilterEvent($event, 'created_in', true, i)">
                <button type="button" [ngClass]="(user.filtrosSearch.created_in.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('created_in', i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </th>
            <th scope="col" class="v-a-middle width-sm" style="display: block;">
              Operacion

            </th>
          </tr>
          </thead>
          <tbody *ngIf="!backupService.isFilter(i)">
          <tr class="text-center"  *ngFor="let back of user.backups; let pos = index">
            <td scope="row" class="v-a-middle font-weight-bold width-sm">{{ pos + 1 }}</td>
            <td scope="row" class="v-a-middle width-sm" style="cursor: pointer;" [routerLink]="['/detalleRespaldo', (pos + 1), back.id_backup]">{{ back.id_backup }}</td>
            <td scope="row" class="v-a-middle width-sm">{{ back.automatic }}</td>
            <td scope="row" class="v-a-middle width-lg">{{ (back.date_creation == '0000-00-00 00:00:00') ? '0000-00-00 00:00:00': back.date_creation | date:'dd MMMM yyyy hh:mm:ss' }}</td>
            <td scope="row" class="v-a-middle width-lg">{{ (back.date_download == '0000-00-00 00:00:00') ? '0000-00-00 00:00:00': back.date_download | date:'dd MMMM yyyy hh:mm:ss' }}</td>
            <td scope="row" class="v-a-middle width-sm">{{ back.created_in }}</td>
            <td scope="row" class="v-a-middle width-sm">
              <button data-toggle="modal" data-target="#modalConfirmExportBackup" type="button" class="btn btn-primary btn-delete-MNT" (click)="accionExportar(util.EXPORTAR, back.id_backup, i)">
              <span>
                <fa-icon [icon]="util.faFileExport"></fa-icon>
              </span>
              </button>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="backupService.isFilter(i)">
          <tr class="text-center"  *ngFor="let back of user.backupsFiltro; let pos = index">
            <td scope="row" class="v-a-middle font-weight-bold width-sm">{{ pos + 1 }}</td>
            <td scope="row" class="v-a-middle width-sm">{{ back.id_backup }}</td>
            <td scope="row" class="v-a-middle width-sm">{{ back.automatic }}</td>
            <td scope="row" class="v-a-middle width-lg">{{ (back.date_creation == '0000-00-00 00:00:00') ? '0000-00-00 00:00:00': back.date_creation | date:'dd MMMM yyyy hh:mm:ss' }}</td>
            <td scope="row" class="v-a-middle width-lg">{{ (back.date_download == '0000-00-00 00:00:00') ? '0000-00-00 00:00:00': back.date_download | date:'dd MMMM yyyy hh:mm:ss' }}</td>
            <td scope="row" class="v-a-middle width-sm">{{ back.created_in }}</td>
            <td scope="row" class="v-a-middle width-sm">
              <button data-toggle="modal" data-target="#modalConfirmExportBackup" type="button" class="btn btn-primary btn-delete-MNT"  (click)="accionExportar(util.EXPORTAR, back.id_backup, i)">
              <span>
                <fa-icon [icon]="util.faFileExport"></fa-icon>
              </span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="container" *ngIf="user.cantRep == 0">
          <h5 class="font-weight-lighter">{{user.msj}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    (scrolled)="onScroll()">
  </div>
  <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
  <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>

</div>
<div class="container" *ngIf="backupService.userBackups.length == 0">
  <h3 class="font-weight-lighter text-center">{{util.msj}}</h3>
</div>
