.container-query-complete{
  padding: 25px 60px!important;
  height: 140px;
}
.container-query-complete > div{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  align-content: center;
  font-size: 22px;
  font-weight: 100;
}
