<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>
<!-- ------------------------------------------------------------------------------------------------------ -->
<!--div class="backdropPlus" *ngIf="option != ''" (click)="cerrarModal()"-->
  <div class="modal fade" id="modalBackup" tabindex="-1" role="dialog" aria-labelledby="modalBackupTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" *ngIf="option != ''">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title centerTitleModal" id="modalBackupTitle">{{option}} Backup {{backup.value.id_backup}}</h5>
          <button type="button" class="close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="backup" (ngSubmit)="operacion()">
          <div class="modal-body">
            <div class="row" style="width: 100%; display: block; margin-bottom: 20px;" *ngIf="option == util.ELIMINAR">
              <h5 class="text-center" style="font-weight: 500;">¿ Esta seguro de eliminar el Respaldo num: {{(indexBackupSelected + 1)}} con Id_Backup: {{backup.value.id_backup}} ?</h5>
            </div>
            <div class="container">
              
              <div class="flex-row-reverse">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="automatic" formControlName="automatic" [ngClass]="(getError('automatic') == '') ? 'valid-control' : 'invalid-control'">
                  <label class="custom-control-label" for="automatic">Automatic</label>
                  <div class="invalid-feedback">{{ getError('automatic')}}</div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <label for="date_creation">Date_creation</label>
                  <input type="text" [owlDateTimeTrigger]="dc" [owlDateTime]="dc" class="form-control" id="date_creation" formControlName="date_creation" placeholder="date_creation" [ngClass]="(getError('date_creation') == '') ? 'valid-control' : 'invalid-control'">
                  <owl-date-time #dc [disabled]="option == util.ELIMINAR"></owl-date-time>
                  <div class="invalid-feedback">{{ getError('date_creation')}}</div>

                </div>
                <div class="form-group col">
                  <label for="date_download">Date_download</label>
                  <input type="text" [owlDateTimeTrigger]="dd" [owlDateTime]="dd"  class="form-control" id="date_download" formControlName="date_download" placeholder="date_download" [ngClass]="(getError('date_download') == '') ? 'valid-control' : 'invalid-control'">
                  <owl-date-time #dd [disabled]="option == util.ELIMINAR"></owl-date-time>
                  <div class="invalid-feedback">{{ getError('date_download')}}</div>

                </div>
              </div>

              <div class="form-group">
                <label for="created_in">Created_in: </label>
                <input type="text" class="form-control" id="created_in" formControlName="created_in" [ngClass]="(getError('created_in') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('created_in')}}</div>

              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="cerrarModal()">Cerrar</button>
            <button type="submit" [ngClass]="util.classModal(option)" [disabled]="backup.invalid">{{option}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--/div-->
<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="tamaño-titulo-encabezado">
  <div class="tam-titulo-encabezado">
    <h2 class="text-light">Backups Usuario: <a [routerLink]="['/detalleUsuario']" class="text-light" style="text-decoration: none;">{{userService.User.email}}</a> </h2>
    <a></a>
  </div>
</div>
<div class="container text-center" *ngIf="backService.backups.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">{{util.msj}}</h2>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->
<button class="up-left rounded-circle" (click)="util.subir()">
    <span>
      <fa-icon [icon]="util.faArrowUp"></fa-icon>
    </span>
</button>
<!-- ------------------------------------------------------------------------------------------------------ -->
<!--button class="btn btn-outline-info rounded-circle backNavigation" routerLink="/home">
          <span>
            <fa-icon [icon]="util.faChevronLeft"></fa-icon>
          </span>
</button-->
<!-- ------------------------------------------------------------------------------------------------------ -->
<div *ngIf="backService.backups.length > 0"class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla width-sm">#</th>
      <!--th scope="col" class="Encabezado-Tabla">Pos</th-->
      <th scope="col" class="Encabezado-Tabla width-sm" >
        <div class="row inline-grid">
          Id_backup
          <input type="number" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtrosSearch.id_backup.value" name="id_backup" (keyup)="actionFilterEvent($event, 'id_backup', true)">
          <button type="button" [ngClass]="(filtrosSearch.id_backup.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('id_backup')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-sm">
        <div class="row inline-grid">
          Automatic
          <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtrosSearch.automatic.value" name="automatic" (ngModelChange)="actionFilterEvent($event, 'automatic')">
            <option value="-1">Ambos</option>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
          <button type="button" [ngClass]="(filtrosSearch.automatic.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('automatic')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-lg">
        <div class="row inline-grid">
          Date_creation
          <input type="date" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtrosSearch.date_creation.value" name="date_creation" (ngModelChange)="actionFilterEvent($event, 'date_creation')">
          <button type="button" [ngClass]="(filtrosSearch.date_creation.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('date_creation')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-lg">
        <div class="row inline-grid">
          Date_download
          <input type="date" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtrosSearch.date_download.value" name="date_download" (ngModelChange)="actionFilterEvent($event, 'date_download')">
          <button type="button" [ngClass]="(filtrosSearch.date_download.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('date_download')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-sm">
        <div class="row inline-grid">
          Created_in
          <input type="text" class="form-control mr-sm-2 form-control-md input-header"  [(ngModel)]="filtrosSearch.created_in.value" name="created_in" (keyup)="actionFilterEvent($event, 'created_in', true)">
          <button type="button" [ngClass]="(filtrosSearch.created_in.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('created_in')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-sm">Operacion</th>
    </tr>
    </thead>
    <!-- ------------------------------------------------------------------------------------------------------ -->
    <tbody *ngIf="!isFilter()">
      <tr *ngFor="let back of backService.backups; let i = index" >
        <ng-container>
          <td scope="row" class="Celdas-Tabla font-weight-bold width-sm">{{(i+1)}}</td>
          <!--td class="Celdas-Tabla">{{back.pos}}</td-->
          <td class="Celdas-Tabla width-sm" style="cursor: pointer;" [routerLink]="['/detalleRespaldo', (i + 1), back.id_backup]">{{back.id_backup}}</td>
          <!--td class="text-center">{{back.indexUser}}</td-->
          <td class="Celdas-Tabla width-sm">{{back.automatic}}</td>
          <td class="Celdas-Tabla width-lg">{{(back.date_creation == '0000-00-00 00:00:00') ? back.date_creation:back.date_creation | date:'dd MMMM yyyy hh:mm:ss'}}</td>
          <td class="Celdas-Tabla width-lg">{{(back.date_download == '0000-00-00 00:00:00') ? back.date_download: back.date_download | date:'dd MMMM yyyy hh:mm:ss'}}</td>
          <td class="Celdas-Tabla width-sm">{{back.created_in}}</td>
          <td class="Celdas-Tabla width-sm" >
            <button type="submit" class="btn btn-primary btn-update" data-toggle="modal" data-target="#modalBackup" (click)="accionBackup(util.ACTUALIZAR, [i, back.pos, false], back)">
              <span>
                <fa-icon [icon]="util.faPen"></fa-icon>
              </span>
            </button>
            <button type="submit" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#modalBackup" (click)="accionBackup(util.ELIMINAR, [i, back.pos, false], back)">
              <span>
                <fa-icon [icon]="util.faTrash"></fa-icon>
              </span>
            </button>
          </td>
        </ng-container>
      </tr>
      <div
        [fromRoot]="true"
        infiniteScroll
        [infiniteScrollDistance]="2"
        infiniteScrollContainer=".table-fixed-xl tbody"
        (scrolled)="onScroll()">
      </div>
      <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
      <query-complete *ngIf="util.QueryComplete.isComplete && !isFilter()" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
    <!-- ------------------------------------------------------------------------------------------------------ -->
    <tbody *ngIf="isFilter()">
    <tr *ngFor="let back of backupsFiltro; let i = index" >
      <ng-container>
        <td scope="row" class="Celdas-Tabla font-weight-bold width-sm">{{(i+1)}}</td>
        <!--td class="Celdas-Tabla">{{back.pos}}</td-->
        <td class="Celdas-Tabla width-sm" style="cursor: pointer;" [routerLink]="['/detalleRespaldo', (back.pos), back.id_backup]">{{back.id_backup}}</td>
        <!--td class="text-center">{{back.indexUser}}</td-->
        <td class="Celdas-Tabla width-sm">{{back.automatic}}</td>
        <td class="Celdas-Tabla width-lg">{{(back.date_creation == '0000-00-00 00:00:00') ? back.date_creation:back.date_creation | date:'dd MMMM yyyy hh:mm:ss'}}</td>
        <td class="Celdas-Tabla width-lg">{{(back.date_download == '0000-00-00 00:00:00') ? back.date_download: back.date_download | date:'dd MMMM yyyy hh:mm:ss'}}</td>
        <td class="Celdas-Tabla width-sm">{{back.created_in}}</td>
        <td class="Celdas-Tabla width-sm">
          <button type="button" class="btn btn-primary btn-update" data-toggle="modal" data-target="#modalBackup" (click)="accionBackup(util.ACTUALIZAR, [back.pos, i, true], back)">
              <span>
                <fa-icon [icon]="util.faPen"></fa-icon>
              </span>
          </button>
          <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#modalBackup" (click)="accionBackup(util.ELIMINAR, [back.pos, i, true], back)">
              <span>
                <fa-icon [icon]="util.faTrash"></fa-icon>
              </span>
          </button>
        </td>
      </ng-container>
    </tr>
    </tbody>
    <!-- ------------------------------------------------------------------------------------------------------ -->
  </table>
</div>
