<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>

<div class="container text-center" *ngIf="preferencesService.Preferences.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">{{util.msj}}</h2>
</div>

<div *ngIf="preferencesService.Preferences.length > 0" class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla">#</th>
      <th scope="col" class="Encabezado-Tabla font-italic">Repeated</th>
      <th scope="col" class="Encabezado-Tabla ">Id_Backup</th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Key_Name
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">
        <div class="row inline-grid">
          Value
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla">Operación</th>
    </thead>
    <tbody *ngIf="!preferencesService.isFilter()">
    <tr *ngFor="let preference of preferencesService.Preferences; let i = index" >
      <td scope="row" class="Celdas-Tabla font-weight-bold">{{(i+1)}}</td>
      <td class="Celdas-Tabla font-italic">{{preference.repeated}}</td>
      <td class="Celdas-Tabla">{{preference.id_backup}}</td>
      <td class="Celdas-Tabla">{{preference.key_name}}</td>
      <td class="Celdas-Tabla">{{preference.value}}</td>
      <td class="Celdas-Tabla">
        <button type="button" [disabled]="true" class="btn btn-primary btn-Mnt-Inconsistencia">
          <span>
            <fa-icon [icon]="util.faTools"></fa-icon>
          </span>
        </button>
      </td>
    </tr>
    <div
      [fromRoot]="true"
      infiniteScroll
      [infiniteScrollDistance]="2"
      infiniteScrollContainer=".table-fixed-xl tbody"
      (scrolled)="onScroll()">
    </div>
    <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
    <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
    <tbody *ngIf="preferencesService.isFilter()">
    <tr *ngFor="let preference of preferencesService.preferencesFilter; let i = index" >
      <td scope="row" class="Celdas-Tabla font-weight-bold">{{(i+1)}}</td>
      <td class="Celdas-Tabla font-italic">{{preference.repeated}}</td>
      <td class="Celdas-Tabla">{{preference.id_backup}}</td>
      <td class="Celdas-Tabla">{{preference.key_name}}</td>
      <td class="Celdas-Tabla">{{preference.value}}</td>
      <td class="Celdas-Tabla">
        <button type="button" [disabled]="true" class="btn btn-primary btn-Mnt-Inconsistencia">
          <span>
            <fa-icon [icon]="util.faTools"></fa-icon>
          </span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
