<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>

<div class="container text-center" *ngIf="budgetService.Budgets.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">{{util.msj}}</h2>
</div>
<div *ngIf="budgetService.Budgets.length > 0" class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla ">#</th>
      <th scope="col" class="Encabezado-Tabla ">Repeated</th>
      <th scope="col" class="Encabezado-Tabla ">Id_Backup</th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Id_Account
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Account
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Id_Category
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Category
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">Period</th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Amount
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">
        <div class="row inline-grid">
          Budget
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla ">Initial_date</th>
      <th scope="col" class="Encabezado-Tabla ">Final_date</th>
      <th scope="col" class="Encabezado-Tabla ">Number</th>
      <th scope="col" class="Encabezado-Tabla ">Operación</th>
    </tr>
    </thead>
    <tbody *ngIf="!budgetService.isFilter()">
    <tr *ngFor="let budget of budgetService.Budgets; let i = index" >
      <td scope="row" class="Celdas-Tabla font-weight-bold ">{{(i+1)}}</td>
      <td class="Celdas-Tabla font-italic ">{{budget.repeated}}</td>
      <td class="Celdas-Tabla ">{{budget.id_backup}}</td>
      <td class="Celdas-Tabla ">{{budget.id_account}}</td>
      <td class="Celdas-Tabla ">{{budget.nameAccount}}</td>
      <td class="Celdas-Tabla ">{{budget.id_category}}</td>
      <td class="Celdas-Tabla ">{{budget.nameCategory}}</td>
      <td class="Celdas-Tabla ">{{budget.period}}</td>
      <td class="Celdas-Tabla ">{{budget.amount | currency: budget.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
      <td class="Celdas-Tabla ">{{budget.budget | currency: budget.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
      <td class="Celdas-Tabla ">{{(budget.initial_date == '0000-00-00') ? budget.initial_date : budget.initial_date  | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla ">{{(budget.final_date == '0000-00-00') ? budget.final_date : budget.final_date | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla ">{{budget.number}}</td>
      <td class="Celdas-Tabla ">
        <button type="button" [disabled]="true" class="btn btn-primary btn-Mnt-Inconsistencia">
          <span>
            <fa-icon [icon]="util.faTools"></fa-icon>
          </span>
        </button>
      </td>
    </tr>
    <div
      [fromRoot]="true"
      infiniteScroll
      [infiniteScrollDistance]="2"
      infiniteScrollContainer=".table-fixed-xl tbody"
      (scrolled)="onScroll()">
    </div>
    <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
    <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
    <tbody *ngIf="budgetService.isFilter()">
    <tr *ngFor="let budget of budgetService.budgetsFilter; let i = index" >
      <td scope="row" class="Celdas-Tabla font-weight-bold ">{{(i+1)}}</td>
      <td class="Celdas-Tabla font-italic ">{{budget.repeated}}</td>
      <td class="Celdas-Tabla ">{{budget.id_backup}}</td>
      <td class="Celdas-Tabla ">{{budget.id_account}}</td>
      <td class="Celdas-Tabla ">{{budget.nameAccount}}</td>
      <td class="Celdas-Tabla ">{{budget.id_category}}</td>
      <td class="Celdas-Tabla ">{{budget.nameCategory}}</td>
      <td class="Celdas-Tabla ">{{budget.period}}</td>
      <td class="Celdas-Tabla ">{{budget.amount | currency: budget.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
      <td class="Celdas-Tabla ">{{budget.budget | currency: budget.symbol :'symbol': util.symbolDecimalNumber6Digits}}</td>
      <td class="Celdas-Tabla ">{{(budget.initial_date == '0000-00-00') ? budget.initial_date : budget.initial_date  | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla ">{{(budget.final_date == '0000-00-00') ? budget.final_date : budget.final_date | date: 'dd/MMMM/yyyy'}}</td>
      <td class="Celdas-Tabla ">{{budget.number}}</td>
      <td class="Celdas-Tabla ">
        <button type="button" [disabled]="true" class="btn btn-primary btn-Mnt-Inconsistencia">
          <span>
            <fa-icon [icon]="util.faTools"></fa-icon>
          </span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
