<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{msj}}</p>
</ngx-spinner>
<div class="row" style="margin-top: 50px;">

  <div class="col-3">
    <div class="form-group row">
      <label for="backup" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Backup:</label>
      <div class="col-sm-8">
        <select id="backup" class="form-control" [(ngModel)]="backup" name="backup" (change)="busquedaFiltrosGastos()">
          <option *ngFor="let b of backups;" value="{{b.id_backup}}">{{b.id_backup}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group row">
      <label for="account" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Cuentas:</label>
      <div class="col-sm-8">
        <select id="account" class="form-control" [(ngModel)]="account" name="account" (change)="busquedaFiltrosGastos()">
          <option *ngFor="let a of accounts;" value="{{a.id_account}}">{{a.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group row">
      <label for="year" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Año:</label>
      <div class="col-sm-8">
        <select id="year" class="form-control" [(ngModel)]="year" name="year" (change)="busquedaFiltrosGastos()">
          <option *ngFor="let y of years;" value="{{y.year}}">{{(y.year == '0') ? 'Todos' : y.year}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group row">
      <label for="month" class="col-sm-3 col-form-label" style="font-size: 18px; font-weight: normal">Mes:</label>
      <div class="col-sm-9">
        <select id="month" class="form-control" [(ngModel)]="month" name="month" (change)="busquedaFiltrosGastos()">
          <option *ngFor="let m of months;" value="{{m.monthNumber}}">{{m.monthName}}</option>
        </select>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-8">
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
        ></canvas>
    </div>
  </div>
  <div class="col-4">
    <table class="table table-sm table-hover table-fixed" style="font-size: small" *ngIf="pieChartData.length > 0">
      <thead class="thead-dark">
      <tr>
        <th class="text-center" colspan="4" style="width: 70%; padding-left: 30%;">
          Simbología
        </th>
        <th class="text-center" colspan="4" style="width: 30%">
          <button class="btn btn-outline-info btn-sm" (click)="exportPDF()">
            <span>
                <fa-icon [icon]="util.faFileExport"></fa-icon>
              </span>
          </button>
        </th>
      </tr>
      </thead>
      <thead>
      <tr>
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" colspan="2" style="width: 65%">Categoria</th>
        <th scope="col" style="width: 30%">Cantidad</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let color of pieChartColors[0].backgroundColor; let i = index">
        <td style="width: 5%" class="font-weight-500">{{i + 1}}</td>
        <td style="width: 15%">
          <div class="categoria" #colorCategorias></div>
        </td>
        <td style="width: 50%">{{pieChartLabels[i]}}</td>
        <td style="width: 30%">{{pieChartData[i] | currency: '$':'symbol':'1.2-6'}}</td>
      </tr>
      </tbody>
      <tbody style="height: 40px!important; overflow-y: hidden!important; overflow-x: hidden!important;">
      <tr>
        <td style="width: 70%" class="font-weight-500" colspan="3">TOTAL</td>
        <td style="width: 30%">{{util.sumaTotal(pieChartData) | currency: '$':'symbol':'1.2-6'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

