<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{msj}}</p>
</ngx-spinner>
<div class="tamaño-titulo-encabezado">
  <div class="tam-titulo-encabezado"  style="padding-top: 160px !important;">
    <nav class="navbar navbar-light bg-light" style = "padding-left: 40px; padding-right: 40px; background: transparent !important">
      <form class="form-row" style="width: 100% !important" (submit)="search()">
        <div class="col-10">
          <input [(ngModel)]="email" name="correo" class="form-control-lg inputSearch" type="email" placeholder="Ingrese el correo del cliente" aria-label="Search">
        </div>
        <div class="col-2">
          <button class="btn btn-lg btn-primary btnSearch" type="submit" >Buscar</button>
        </div>
      </form>
    </nav>
  </div>
</div>
<div class="text-center" style=" padding: 50px">
  <h2 class="font-weight-bold">Backups</h2>
  <h3 class="font-weight-lighter">{{util.emailUserMntBackup}}</h3>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">
      <div class="form-group row">
        <div class="col-2">
          <label for="backup" class="col-form-label" style="font-size: 18px; font-weight: normal">Rango:</label>
        </div>
        <div class="col-5">
          <input type="number" value="10" class="form-control"pattern="^[0-9]+" min="1" id="rangoBackups" [(ngModel)]="rangoBackups" name="rangoBackups" (blur)="afterBlur($event)" (focus)="beforeBlur($event)">
        </div>
        <div class="col-5">
          <button class="btn btn-outline-success" [disabled]="backupService.mntBackups.length == 0" (click)="limpiarBackups(0, 'Generales', 0)">Limpiar</button>
        </div >
      </div>
    </div>
  </div>
</div>

<button class="up-right rounded-circle" (click)="util.subir()">
    <span>
      <fa-icon [icon]="faArrowCircleUp"></fa-icon>
    </span>
</button>

<div id="accordion" style="padding-left: 50px;padding-right: 50px" *ngIf="backupService.mntBackups.length > 0">
  <div   class="card" *ngFor="let user of backupService.mntBackups; let i = index" >

    <div class="card-header" [id] = "i">
      <div class="float-left" style="width: 90% !important; padding: 10px;">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-2">
                <h5 class="font-weight-bold">Usuario: </h5>
              </div>
              <div class="col-10">
                <h5 class="font-weight-light"> {{user.email}} </h5>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <h5 class="font-weight-bold">Backups: </h5>
              </div>
              <div class="col-8">
                <h5 class="font-weight-light"> {{user.cantRep}} </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-outline-info rounded-circle" (click)="verficarExpansion(i, user.id_user, user.email)" style="height: 50px; width: 50px;">
          <span>
              <fa-icon *ngIf="user.collapsed == 0" [icon]="faArrowCircleDown"></fa-icon>
              <fa-icon *ngIf="user.collapsed == 1" [icon]="faArrowCircleUp"></fa-icon>
            </span>
        </button>
      </div>
    </div>

    <div #cntBackupsUser class="tarjetaCuerpo">

      <div class="card-body">
        <cdk-virtual-scroll-viewport  style="height: 500px;" itemSize="1">

        <table class="table table-striped">

            <thead>
              <tr class="text-center" >
                <th scope="col" style="vertical-align: middle">#</th>
                <th scope="col" style="vertical-align: middle">Backup</th>
                <th scope="col" style="vertical-align: middle">Automatico</th>
                <th scope="col" style="vertical-align: middle">Fecha de creacion</th>
                <th scope="col" style="vertical-align: middle">Fecha de descarga</th>
                <th scope="col" style="vertical-align: middle">Version</th>
                <th scope="col" style="vertical-align: middle">

                  Operacion
                  <br>
                  <button class="btn btn-outline-success" (click)="limpiarBackups(user.id_user, user.email, user.cantRep, i)">
                    limpiar
                  </button>
                </th>
              </tr>
            </thead>

          <tbody>
          <ng-container *cdkVirtualFor="let back of user.backups; let pos = index">
            <tr class="text-center">
                <th scope="row">{{ pos + 1 }}</th>
                <td scope="row">{{ back.id_backup }}</td>
                <td scope="row">{{ (back.automatic == 1) ? 'Si': 'No' }}</td>
                <td scope="row">{{ back.date_creation | date:'dd MMMM yyyy' }}</td>
                <td scope="row">{{ (back.date_download == '0000-00-00 00:00:00') ? 'Sin descarga': back.date_download | date:'dd MMMM yyyy' }}</td>
                <td scope="row">{{ back.created_in }}</td>
                <td scope="row">
                  <button type="button" class="btn btn-danger" style="width: 100px; font-size: 20px" (click)="eliminar(i, pos, back.id_backup)">Eliminar</button>
                </td>
            </tr>
          </ng-container>

          </tbody>
        </table>
        </cdk-virtual-scroll-viewport>

        <div class="container" *ngIf="user.cantRep == 0">
          <h5 class="font-weight-lighter">{{user.msj}}</h5>
        </div>

        </div>
    </div>
  </div>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    (scrolled)="onScroll()">
  </div>

</div>
<div class="container" *ngIf="backupService.mntBackups.length == 0">
  <h3 class="font-weight-lighter text-center">{{msj}}</h3>
</div>
