<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">util.msjLoading</p>
</ngx-spinner>
<app-titulo-encabezado titulo="Restablecer contraseña" [subTitulo]="'Usuario: ' + util.emailResetPassword">

</app-titulo-encabezado>
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="container">
      <div class="card"></div>
      <div class="card">
        <div class="row d-block text-center" style="margin-bottom: 80px;">
          <h5 class="text-center font-weight-500" *ngIf="status == 0">Ingrese su correo de registro para enviarle un codigo de confirmación</h5>
          <h5 class="text-center font-weight-500" *ngIf="status == 1">Ingrese el codigo de confirmación</h5>
          <h5 class="text-center font-weight-500" *ngIf="status == 2">Proporcione su nueva contraseña</h5>
        </div>
        <form [formGroup]="formResetPasword" (ngSubmit)="resetPasword()">
          <div class="input-container" *ngIf="status == 0">
            <input type="email" formControlName="email" id="email" class="label-center" [ngClass]="(getError('email') == '') ? 'valid-control' : 'invalid-control'"/>
            <label for="email" >Email:</label>
            <div class="bar"></div>
            <div class="invalid-feedback">{{ getError('email')}}</div>
          </div>
          <div class="input-container" *ngIf="status == 1">
            <input type="text" formControlName="codigo" id="codigo" class="label-center" [ngClass]="(getError('codigo') == '') ? 'valid-control' : 'invalid-control'"/>
            <label for="codigo">Codigo</label>
            <div class="bar"></div>
            <div class="invalid-feedback">{{ getError('codigo')}}</div>
          </div>
          <div *ngIf="status == 2">
            <div class="input-container">
              <input type="password" formControlName="newPassword" id="newPassword" class="label-center" (blur)="confirmNewPassword($event)"  [ngClass]="(getError('newPassword') == '') ? 'valid-control' : 'invalid-control'"/>
              <label for="newPassword">Nueva contraseña</label>
              <div class="bar"></div>
              <div class="invalid-feedback">{{ getError('newPassword')}}</div>
            </div>
            <div class="input-container">
              <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword" class="label-center"  [ngClass]="(getError('confirmNewPassword') == '') ? 'valid-control' : 'invalid-control'"/>
              <label for="confirmNewPassword">Confirme la nueva Contraseña:</label>
              <div class="bar"></div>
              <div class="invalid-feedback">{{ getError('confirmNewPassword')}}</div>
            </div>
          </div>
          <div class="button-container">
            <button class="btn btn-primary btn-redondo buttonFadeInUp" type="submit" [disabled]="status == 2 && formResetPasword.invalid " *ngIf="status != 1">
              <span>
                <fa-icon [icon]="util.faCheck"></fa-icon>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
