<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>
<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalAccount" tabindex="-1" role="dialog" aria-labelledby="modalAccountTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" *ngIf="option != ''">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalAccountTitle">{{option}} Account {{account.value.id_account}}</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="account" (ngSubmit)="operacion()">
        <div class="modal-body">
          <div class="row" style="width: 100%; display: block; margin-bottom: 20px;" *ngIf="isDelete()">
            <h5 class="text-center" style="font-weight: 500;">¿ Esta seguro de eliminar la cuenta num: {{(indexAccountSelected + 1)}}, Id_account: {{account.value.id_account}} del Respaldo Id_backup: {{id_backup}}?</h5>
          </div>
          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="(getError('name') == '') ? 'valid-control' : 'invalid-control'">
            <div class="invalid-feedback">{{ getError('name')}}</div>
          </div>
          <div class="form-group">
            <label for="detail">Detail: </label>
            <textarea  type="text" class="form-control" id="detail" formControlName="detail" [ngClass]="(getError('detail') == '') ? 'valid-control' : 'invalid-control'"></textarea>
            <div class="invalid-feedback">{{ getError('detail')}}</div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-2">
                <label for="sign">Sign: </label>
                <select class="form-control" id="sign" formControlName="sign" [ngClass]="(getError('sign') == '') ? 'valid-control' : 'invalid-control'">
                  <option value="-">-</option>
                  <option value="+">+</option>
                </select>
                <div class="invalid-feedback">{{ getError('sign')}}</div>
              </div>
              <div class="col">
                <label for="income">Income: </label>
                <input type="number" class="form-control" [step]="util.stepDecimal" id="income" formControlName="income" [ngClass]="(getError('income') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('income')}}</div>
              </div>
              <div class="col">
                <label for="expense">Expense: </label>
                <input type="number" class="form-control" [step]="util.stepDecimal" id="expense" formControlName="expense" [ngClass]="(getError('expense') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('expense')}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="initial_balance">Initial_balance: </label>
                <input type="number" class="form-control" [step]="util.stepDecimal" id="initial_balance" formControlName="initial_balance" [ngClass]="(getError('initial_balance') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('initial_balance')}}</div>
              </div>
              <div class="col">
                <label for="final_balance">Final_balance: </label>
                <input type="number" class="form-control" [step]="util.stepDecimal" id="final_balance" formControlName="final_balance" [ngClass]="(getError('final_balance') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('final_balance')}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="month">Month: </label>
                <select class="form-control" id="month" formControlName="month" [ngClass]="(getError('month') == '') ? 'valid-control' : 'invalid-control'">
                  <option value="0">Selecciona un mes</option>
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
                <div class="invalid-feedback">{{ getError('month')}}</div>
              </div>
              <div class="col">
                <label for="year">Year: </label>
                <input type="number" class="form-control" id="year" formControlName="year" [ngClass]="(getError('year') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('year')}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="positive_limit">Positive_limit: </label>
                <input type="number" class="form-control" id="positive_limit" formControlName="positive_limit" [ngClass]="(getError('positive_limit') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('positive_limit')}}</div>
              </div>
              <div class="col">
                <label for="negative_limit">Negative_limit: </label>
                <input type="number" class="form-control" id="negative_limit" formControlName="negative_limit" [ngClass]="(getError('negative_limit') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('negative_limit')}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="positive_max">Positive_max: </label>
                <input type="number" class="form-control" [step]="util.stepDecimal" id="positive_max" formControlName="positive_max" [ngClass]="(getError('positive_max') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('positive_max')}}</div>
              </div>
              <div class="col">
                <label for="negative_max">Negative_max: </label>
                <input type="number" class="form-control" [step]="util.stepDecimal" id="negative_max" formControlName="negative_max" [ngClass]="(getError('negative_max') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('negative_max')}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="iso_code">Iso_code: </label>
                <input type="text" class="form-control" id="iso_code" formControlName="iso_code" [ngClass]="(getError('iso_code') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('iso_code')}}</div>
              </div>
              <div class="col">
                <label for="selected">Selected: </label>
                <select class="form-control" id="selected" formControlName="selected" [ngClass]="(getError('selected') == '') ? 'valid-control' : 'invalid-control'">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
                <div class="invalid-feedback">{{ getError('selected')}}</div>
              </div>
              <div class="col">
                <label for="value_type">Value_type: </label>
                <input type="number" class="form-control" id="value_type" formControlName="value_type" [ngClass]="(getError('value_type') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('value_type')}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="include_total">Include_total: </label>
                <input type="number" class="form-control" id="include_total" formControlName="include_total" [ngClass]="(getError('include_total') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('include_total')}}</div>
              </div>
              <div class="col">
                <label for="rate">Rate: </label>
                <input type="number" class="form-control" [step]="util.stepDecimal" id="rate" formControlName="rate" [ngClass]="(getError('rate') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('rate')}}</div>
              </div>
              <div class="col">
                <label for="icon_name">Icon_name: </label>
                <input type="text" class="form-control" id="icon_name" formControlName="icon_name"  [ngClass]="(getError('icon_name') == '') ? 'valid-control' : 'invalid-control'">
                <div class="invalid-feedback">{{ getError('icon_name')}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cerrar</button>
          <button type="submit" [ngClass]="util.classModal(option)" [disabled]="account.invalid">{{option}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->

<div class="container text-center" *ngIf="accountService.Accounts.length == 0" style="margin-top: 200px;">
  <h2 class="font-weight-lighter">{{util.msj}}</h2>
</div>
<div *ngIf="accountService.Accounts.length > 0" class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="Encabezado-Tabla width-4">#</th>
      <th scope="col" class="Encabezado-Tabla font-italic width-4">Repeated</th>
      <th scope="col" class="Encabezado-Tabla width-4">
        <div class="row inline-grid">
          Id_account
          <input type="search" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtersSearch.id_account.value" name="id_account" (keyup)="actionFilterEvent($event, 'id_account', true)">
          <button type="button" [ngClass]="(filtersSearch.id_account.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('id_account')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-4">
        <div class="row inline-grid">
          Name
          <input type="text" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtersSearch.name.value" name="name" (keyup)="actionFilterEvent($event, 'name', true)">
          <button type="button" [ngClass]="(filtersSearch.name.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('name')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-4">Detail</th>
      <th scope="col" class="Encabezado-Tabla width-4">Sign</th>
      <th scope="col" class="Encabezado-Tabla width-4">Income</th>
      <th scope="col" class="Encabezado-Tabla width-4">Expense</th>
      <th scope="col" class="Encabezado-Tabla width-4">Initial_balance</th>
      <th scope="col" class="Encabezado-Tabla width-4">Final_balance</th>
      <th scope="col" class="Encabezado-Tabla width-4">Month</th>
      <th scope="col" class="Encabezado-Tabla width-4">Year</th>
      <th scope="col" class="Encabezado-Tabla width-4">Positive_limit</th>
      <th scope="col" class="Encabezado-Tabla width-4">Negative_limit</th>
      <th scope="col" class="Encabezado-Tabla width-4">Positive_max</th>
      <th scope="col" class="Encabezado-Tabla width-4">Negative_max</th>
      <th scope="col" class="Encabezado-Tabla width-4">
        <div class="row inline-grid">
          Iso_code
          <input type="text" class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtersSearch.iso_code.value" name="iso_code" (keyup)="actionFilterEvent($event, 'iso_code', true)">
          <button type="button" [ngClass]="(filtersSearch.iso_code.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('iso_code')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-4">
        <div class="row inline-grid">
          Selected
          <select class="form-control mr-sm-2 form-control-md input-header" [(ngModel)]="filtersSearch.selected.value" name="selected" (ngModelChange)="actionFilterEvent($event, 'selected')">
            <option value="-1">Ambos</option>
            <option value="0">No</option>
            <option value="1">Sí</option>
          </select>
          <button type="button" [ngClass]="(filtersSearch.selected.isFilter) ? 'close': 'btnFilter-disabled'" (click)="resetValuefiltroSearch('selected')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </th>
      <th scope="col" class="Encabezado-Tabla width-4">Value_type</th>
      <th scope="col" class="Encabezado-Tabla width-4">Include_total</th>
      <th scope="col" class="Encabezado-Tabla width-4">Rate</th>
      <th scope="col" class="Encabezado-Tabla width-4">Icon_name</th>
      <th scope="col" class="Encabezado-Tabla width-4">Operación</th>
    </tr>

    </thead>
    <tbody *ngIf="!isFilter()">
      <tr *ngFor="let account of accountService.Accounts; let i = index" >
        <td scope="row" class="Celdas-Tabla font-weight-bold width-4">{{(i+1)}}</td>
        <td class="Celdas-Tabla font-italic width-4">{{account.cantidadRepetida}}</td>
        <td class="Celdas-Tabla width-4">{{account.id_account}}</td>
        <td class="Celdas-Tabla width-4">{{account.name}}</td>
        <td class="Celdas-Tabla width-4">{{account.detail}}</td>
        <td class="Celdas-Tabla width-4">{{account.sign}}</td>
        <td class="Celdas-Tabla width-4">{{account.income | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.expense | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.initial_balance | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.final_balance | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.month}}</td>
        <td class="Celdas-Tabla width-4">{{account.year}}</td>
        <td class="Celdas-Tabla width-4">{{account.positive_limit}}</td>
        <td class="Celdas-Tabla width-4">{{account.negative_limit}}</td>
        <td class="Celdas-Tabla width-4">{{account.positive_max}}</td>
        <td class="Celdas-Tabla width-4">{{account.negative_max}}</td>
        <td class="Celdas-Tabla width-4">{{account.iso_code}}</td>
        <td class="Celdas-Tabla width-4">{{account.selected}}</td>
        <td class="Celdas-Tabla width-4">{{account.value_type}}</td>
        <td class="Celdas-Tabla width-4">{{account.include_total}}</td>
        <td class="Celdas-Tabla width-4">{{account.rate}}</td>
        <td class="Celdas-Tabla width-4">{{account.icon_name}}</td>
        <td class="Celdas-Tabla width-4">
          <button type="button" class="btn btn-primary btn-update" data-toggle="modal" data-target="#modalAccount" (click)="accionAccount(util.ACTUALIZAR, account, i)">
            <span>
              <fa-icon [icon]="util.faPen"></fa-icon>
            </span>
          </button>
          <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#modalAccount" (click)="accionAccount(util.ELIMINAR, account, i)">
            <span>
              <fa-icon [icon]="util.faTrash"></fa-icon>
            </span>
          </button>
        </td>
      </tr>
      <div
        [fromRoot]="true"
        infiniteScroll
        [infiniteScrollDistance]="2"
        infiniteScrollContainer=".table-fixed-xl tbody"
        (scrolled)="onScroll()">
      </div>
      <loading-spinner *ngIf="util.loadingMain"></loading-spinner>
      <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
    <tbody *ngIf="isFilter()">
      <tr *ngFor="let account of accountsFilter; let i = index" >
        <td scope="row" class="Celdas-Tabla font-weight-bold width-4">{{(i+1)}}</td>
        <td class="Celdas-Tabla font-italic width-4">{{account.cantidadRepetida}}</td>
        <td class="Celdas-Tabla width-4">{{account.id_account}}</td>
        <td class="Celdas-Tabla width-4">{{account.name}}</td>
        <td class="Celdas-Tabla width-4">{{account.detail}}</td>
        <td class="Celdas-Tabla width-4">{{account.sign}}</td>
        <td class="Celdas-Tabla width-4">{{account.income | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.expense | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.initial_balance | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.final_balance | currency: "" + account.symbol + ""}}</td>
        <td class="Celdas-Tabla width-4">{{account.month}}</td>
        <td class="Celdas-Tabla width-4">{{account.year}}</td>
        <td class="Celdas-Tabla width-4">{{account.positive_limit}}</td>
        <td class="Celdas-Tabla width-4">{{account.negative_limit}}</td>
        <td class="Celdas-Tabla width-4">{{account.positive_max}}</td>
        <td class="Celdas-Tabla width-4">{{account.negative_max}}</td>
        <td class="Celdas-Tabla width-4">{{account.iso_code}}</td>
        <td class="Celdas-Tabla width-4">{{account.selected}}</td>
        <td class="Celdas-Tabla width-4">{{account.value_type}}</td>
        <td class="Celdas-Tabla width-4">{{account.include_total}}</td>
        <td class="Celdas-Tabla width-4">{{account.rate}}</td>
        <td class="Celdas-Tabla width-4">{{account.icon_name}}</td>
        <td class="Celdas-Tabla width-4">
          <button type="button" class="btn btn-primary btn-update" data-toggle="modal" data-target="#modalAccount" (click)="accionAccount(util.ACTUALIZAR, account, i)">
              <span>
                <fa-icon [icon]="util.faPen"></fa-icon>
              </span>
          </button>
          <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#modalAccount" (click)="accionAccount(util.ELIMINAR, account, i)">
              <span>
                <fa-icon [icon]="util.faTrash"></fa-icon>
              </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<button type="button" class="btn btn-success rounded-circle addButton" (click)="accionAccount(util.AGREGAR)">
  <span>
    <fa-icon [icon]="util.faPlus"></fa-icon>
  </span>
</button>
