<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>

<app-titulo-encabezado [titulo]="'Permisos'"></app-titulo-encabezado>

<div class="modal fade" id="modalUsuarios_Permiso" tabindex="-1" role="dialog" aria-labelledby="modalUsuarios_PermisoTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" [ngClass]="util.obtisFullHDDisplay() ? 'modal-xl' : 'modal-lg'" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalUsuarios_PermisoTitle">Usuarios Permiso: {{PermisoSelected.permiso}}</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          
          <div class="container">

            <div class="flex-row-reverse mb-2 mt-2">
              <div class="custom-control custom-switch ">
                <input type="checkbox" class="custom-control-input" id="isUpdateUsuariosSelectPermiso" [(ngModel)]="isUpdateUsuariosSelectPermiso">
                <label class="custom-control-label" for="isUpdateUsuariosSelectPermiso">Actualizar</label>
              </div>
            </div>
            
            <table class="table table-hover table-fixed">
              <thead class="thead-dark">
              <tr class="text-center">
                <th class="v-a-middle font-weight-500 width-lg">Email</th>
                <th class="v-a-middle font-weight-500 width-sm">Tipo</th>
                <th class="v-a-middle font-weight-500 width-sm">Cargo</th>
                <th class="v-a-middle font-weight-500 width-sm">Seleccionar</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let user of permisoService.UsuariosGal; let i = index">
                <tr class="text-center" (click)="checkUser(i)" [ngClass]="(user.checked) ? 'HeaderSelected' : 'HeaderNoSelected'">
                  <td class="v-a-middle width-lg">{{user.email}}</td>
                  <td class="v-a-middle width-sm">{{util.nameTipo(user.tipo)}}</td>
                  <td class="v-a-middle width-sm">{{user.cargo}}</td>
                  <td class="v-a-middle width-sm">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [id]="i"  [disabled]="!isUpdateUsuariosSelectPermiso" [checked]="user.checked" (click)="checkUser(i)">
                      <label class="custom-control-label" [attr.for]="i"></label>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" *ngIf="isUpdateUsuariosSelectPermiso" (click)="actualizarUsuariosPermisos()">Actualizar</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPermiso" tabindex="-1" role="dialog" aria-labelledby="modalPermisoTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" *ngIf="Permiso != null">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalPermisoTitle">{{option}} Permiso</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="Permiso" (ngSubmit)="operation()">
        <div class="modal-body">
          <div class="row" style="width: 100%; display: block; margin-bottom: 20px;" *ngIf="option == util.ELIMINAR">
            <h5 class="text-center" style="font-weight: 500;">¿ Esta seguro de eliminar el siguiente permiso ?</h5>
          </div>
          <div class="container">

            <div class="form">
              <label for="permiso">Permiso: </label>
              <input type="text" class="form-control" id="permiso" formControlName="permiso" [ngClass]="(getError('permiso') == '') ? 'valid-control' : 'invalid-control'">
              <div class="invalid-feedback">{{ getError('permiso')}}</div>
            </div>

            <div class="form">
              <label for="descripcion">Descripcion: </label>
              <textarea  type="text" class="form-control" id="descripcion" formControlName="descripcion" [ngClass]="(getError('descripcion') == '') ? 'valid-control' : 'invalid-control'"></textarea>
              <div class="invalid-feedback">{{ getError('descripcion')}}</div>
            </div>

            <div class="form">
              <div class="card rounded ">
                <div class="card-header border-top-0 border-left-0 border-right-0 border-bottom">
                  <div >
                    <label class="font-weight-normal">Usuarios</label>
                    <button type= "button" class="btn btn-outline-info rounded-circle btn-sm" (click)="cargarUsuariosGral()">
                      <span>
                        <fa-icon [icon]="util.faChevronDown" *ngIf="!isExpandUseCard"></fa-icon>
                        <fa-icon [icon]="util.faChevronUp" *ngIf="isExpandUseCard"></fa-icon>
                      </span>
                    </button>
                  </div>
                </div>
                <div #cntUsers class="card-body p-0 body-Table-User">
                  <table class="table table-hover table-fixed">
                    <thead class="thead-dark">
                      <tr class="text-center">
                        <th class="v-a-middle font-weight-500 width-lg">Email</th>
                        <th class="v-a-middle font-weight-500 width-sm">Tipo</th>
                        <th class="v-a-middle font-weight-500 width-sm">Cargo</th>
                        <th class="v-a-middle font-weight-500 width-sm">Seleccionar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let user of permisoService.UsuariosGal; let i = index">
                        <tr class="text-center" (click)="checkUser(i)" [ngClass]="(user.checked) ? 'HeaderSelected' : 'HeaderNoSelected'">
                          <td class="v-a-middle width-lg">{{user.email}}</td>
                          <td class="v-a-middle width-sm">{{util.nameTipo(user.tipo)}}</td>
                          <td class="v-a-middle width-sm">{{user.cargo}}</td>
                          <td class="v-a-middle width-sm">
                            <div class="custom-control custom-checkbox"  >
                              <input type="checkbox" class="custom-control-input" [id]="i"  [disabled]="util.isDelete(option)" [checked]="user.checked" (click)="checkUser(i)">
                              <label class="custom-control-label" [attr.for]="i"></label>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cerrar</button>
          <button type="submit" [ngClass]="util.classModal(option)" [disabled]="Permiso.invalid">{{option}}</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="overflow-x-scroll">
  <table class="table table-hover table-fixed-xl">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="Encabezado-Tabla">Id</th>
        <th scope="col" class="Encabezado-Tabla">Permiso</th>
        <th scope="col" class="Encabezado-Tabla">Descripción</th>
        <th scope="col" class="Encabezado-Tabla">Usuarios</th>
        <th scope="col" class="Encabezado-Tabla">Operacion</th>
      </tr>
    </thead>
    <tbody *ngIf="permisoService.Permisos.length == 0">
      <tr style="margin-top: 200px">
        <td colspan="5" style="width: 100%!important; border: 0px;">
          <h2 class="font-weight-lighter">{{util.msj}}</h2>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="permisoService.Permisos.length > 0">
    <tr *ngFor="let permiso of permisoService.Permisos; let i = index" >
      <td class="Celdas-Tabla font-weight-bold ">{{(permiso.id)}}</td>
      <td class="Celdas-Tabla ">{{permiso.permiso}}</td>
      <td class="Celdas-Tabla ">{{permiso.descripcion}}</td>
      <td class="Celdas-Tabla ">
        <button type="button" class="btn btn-outline-info btn-show border-0" data-toggle="modal" data-target="#modalUsuarios_Permiso" (click)="actionUsuariosPermiso(util.CONSULTA, permiso, i)">
            <span>
              <fa-icon [icon]="util.faEye"></fa-icon>
            </span>
        </button>
      </td>
      <td class="Celdas-Tabla ">
        <button type="button" class="btn btn-primary btn-update" (click)="actionPermiso(util.ACTUALIZAR, permiso, i)" data-toggle="modal" data-target="#modalPermiso">
            <span>
              <fa-icon [icon]="util.faPen"></fa-icon>
            </span>
        </button>
        <button type="button" class="btn btn-danger btn-delete" (click)="actionPermiso(util.ELIMINAR, permiso, i)" data-toggle="modal" data-target="#modalPermiso">
            <span>
              <fa-icon [icon]="util.faTrash"></fa-icon>
            </span>
        </button>
      </td>
    </tr>
    <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-outline-success rounded-circle addButton" (click)="actionPermiso(util.AGREGAR)" data-toggle="modal" data-target="#modalPermiso">
  <span>
    <fa-icon [icon]="util.faPlus" ></fa-icon>
  </span>
</button>
