@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .table-fixed,
  .table-fixed-bu {
    height: 600px;
  }
  .table-fixed tbody,
  .table-fixed-bu tbody {
    height: 488px;
  }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  .table-fixed,
  .table-fixed-bu {
    height: 400px;
  }
  .table-fixed tbody,
  .table-fixed-bu tbody {
    height: 288px;
  }
}


.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  /* background-color: rgba(0, 123, 255, 0.5); */
  color: #fff !important;
  border-color: #007bff !important;
  background-color: #007bff !important;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #ffffff !important;
}
.display-in-block {
  display: inline-block;
}
.vertical-align-middle {
  font-size: 18px;
  height: 100px;
  color: #fff;
  background-color: #000000 !important;
  border-color: #454d55;
  vertical-align: middle !important;
  text-align: center !important;
  font-weight: 500;
}
.table .thead-light th {
  color: #000000;
}

.gralBackups {
  width: 18% !important;
}
.noGralBackups {
  width: 27% !important;
}
.width-10 {
  width: 10% !important;
}
.width-6 {
  width: 6% !important;
}
.table-fixed thead,
.table-fixed-bu thead {
  background-color: black !important;
}

.table-fixed thead tr > th,
.table-fixed-bu thead tr > th {
  background-color: black !important;
  border-color: black !important;
}
