<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{util.msjLoading}}</p>
</ngx-spinner>


<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="modal fade" id="modalConfirmInconsistencia" tabindex="-1" role="dialog" aria-labelledby="modalConfirmInconsistenciaTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="modalConfirmInconsistenciaTitle">Corregir Inconsistencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            <div class="row titulo-Modal">
              <h5 class="text-center font-weight-500">¿ Desea corregir las inconsistencias de la Tabla : {{nameTable}} ?</h5>
            </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" >Cerrar</button>
        <button type="button" class="btn btn-success" (click)="operacion()">Corregir</button>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title centerTitleModal" id="exampleModalCenterTitle">Filtro Backups</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="width: 100%; display: block; margin-bottom: 20px;margin-top: 20px">
          <h5 class="text-center" style="font-weight: 500;">Usuario{{((util.userMntInconsistencia.email == "Generales")  ? "s ": ": ") + util.userMntInconsistencia.email}}</h5>
        </div>
        <div *ngIf="backupService.userBackups[backupService.indexUser].backups.length > 0">
            <table class="table table-hover" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'table-fixed-bu' : 'table-fixed'">
              <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col" class="vertical-align-middle width-6">#</th>
                <!--th scope="col" class="vertical-align-middle">Pos</th-->
                <th scope="col" class="vertical-align-middle width-10">
                  <div class="row inline-grid">
                    Id_backup
                    <input type="search" class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.id_backup.value" name="id_backup" (keyup)="backupService.actionFilterEvent($event, 'id_backup', true)">
                    <button type="button" [ngClass]="(backupService.userBackups[backupService.indexUser].filtrosSearch.id_backup.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('id_backup')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </th>
                <th scope="col" *ngIf="util.userMntInconsistencia.email == 'Generales'" class="vertical-align-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'">
                  <div class="row inline-grid">
                    Email
                    <input type="search" class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.email.value" name="email" (keyup)="backupService.actionFilterEvent($event, 'email', true)">
                    <button type="button" [ngClass]="(backupService.userBackups[backupService.indexUser].filtrosSearch.email.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('email')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                 </th>
                <th scope="col" class="vertical-align-middle width-10">
                  <div class="row inline-grid">
                    Automatic
                    <select class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.automatic.value" name="automatic" (ngModelChange)="backupService.actionFilterEvent($event, 'automatic', false)">
                      <option value="-1">Ambos</option>
                      <option value="0">No</option>
                      <option value="1">Si</option>
                    </select>
                    <button type="button" [ngClass]="(backupService.userBackups[backupService.indexUser].filtrosSearch.automatic.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('automatic')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </th>
                <th scope="col" class="vertical-align-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'">
                  <div class="row inline-grid">
                    Date_creation

                    <input type="text" [owlDateTimeTrigger]="dateC" [owlDateTime]="dateC" class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.date_creation.value" name="date_creation" (ngModelChange)="backupService.actionFilterEvent($event, 'date_creation', false)">
                    <owl-date-time #dateC [pickerType]="'calendar'"></owl-date-time>

                    <!--input type="date" class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.date_creation.value" name="date_creation" (ngModelChange)="backupService.actionFilterEvent($event, 'date_creation', false)"-->
                    <button type="button" [ngClass]="(backupService.userBackups[backupService.indexUser].filtrosSearch.date_creation.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('date_creation')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </th>
                <th scope="col" class="vertical-align-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'">
                  <div class="row inline-grid">
                    Date_download

                    <input type="text" [owlDateTimeTrigger]="dateD" [owlDateTime]="dateD" class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.date_download.value" name="date_download" (ngModelChange)="backupService.actionFilterEvent($event, 'date_download', false)">
                    <owl-date-time #dateD [pickerType]="'calendar'"></owl-date-time>
                    
                    <!--input type="date" class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.date_download.value" name="date_download" (ngModelChange)="backupService.actionFilterEvent($event, 'date_download', false)"-->
                    <button type="button" [ngClass]="(backupService.userBackups[backupService.indexUser].filtrosSearch.date_download.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('date_download')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </th>
                <th scope="col" class="vertical-align-middle width-10">
                  <div class="row inline-grid">
                    Created_in
                    <input type="text" class="form-control mr-sm-2 form-control-sm input-header" [disabled]="todo" [(ngModel)]="backupService.userBackups[backupService.indexUser].filtrosSearch.created_in.value" name="created_in" (keyup)="backupService.actionFilterEvent($event, 'created_in', true)">
                    <button type="button" [ngClass]="(backupService.userBackups[backupService.indexUser].filtrosSearch.created_in.isFilter) ? 'close': 'btnFilter-disabled'" (click)="backupService.resetValuefiltroSearch('created_in')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </th>
                <th scope="col" class="vertical-align-middle width-10" style="display: block !important;">
                  Seleccionar
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input " id="todo" [checked]="todo"  (change)="todosBackups($event)">
                    <label class="custom-control-label" for="todo">Todos</label>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody *ngIf="!todo && !backupService.isFilter()">
                <ng-container *ngFor="let back of backupService.userBackups[backupService.indexUser].backups; let i = index">
                  <tr  class="font-weight-normal text-center" *ngIf="back.id_backup != 0" style="height: 70px;" (click)="checkBackup(i)">
                    <td class="v-a-middle font-weight-bold width-6"  scope="row">{{(i)}}</td>
                    <!--td *ngIf="back.id_backup != 0">{{back.pos}}</td-->
                    <td class="v-a-middle width-10">{{back.id_backup}}</td>
                    <td class="v-a-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'" *ngIf="util.userMntInconsistencia.email == 'Generales'">{{back.email}}</td>
                    <td class="v-a-middle width-10">{{back.automatic }}</td>
                    <td class="v-a-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'">{{(back.date_creation == '0000-00-00 00:00:00') ? back.date_creation : back.date_creation | date:'dd MMMM yyyy hh:mm:ss'}}</td>
                    <td class="v-a-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'">{{(back.date_download == '0000-00-00 00:00:00') ? back.date_download: back.date_download | date:'dd MMMM yyyy hh:mm:ss'}}</td>
                    <td class="v-a-middle width-10">{{back.created_in}}</td>
                    <td class="v-a-middle width-10">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [id]="i" disabled [checked]="back.checked">
                        <label class="custom-control-label" [attr.for]="i"></label>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              <div
                [fromRoot]="true"
                infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollContainer]="(util.userMntInconsistencia.email == 'Generales') ? '.table-fixed-bu tbody' : '.table-fixed tbody'"
                (scrolled)="onScroll()"
              >
              </div>
              </tbody>

              <tbody *ngIf="!todo && backupService.isFilter()">
              <ng-container *ngFor="let back of backupService.userBackups[backupService.indexUser].backupsFiltro; let i = index">
                <tr class="font-weight-normal text-center" *ngIf="back.id_backup != 0" style="height: 70px;" (click)="checkBackup(back.pos)">
                  <td class="v-a-middle font-weight-bold width-6"  scope="row" >{{(i + 1)}}</td>
                  <!--td>{{back.pos}}</td-->
                  <td class="v-a-middle width-10">{{back.id_backup}}</td>
                  <td class="v-a-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'" *ngIf="util.userMntInconsistencia.email == 'Generales'">{{back.email}}</td>
                  <td class="v-a-middle width-10">{{(back.automatic == 1) ? 'Si': 'No'}}</td>
                  <td class="v-a-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'">{{(back.date_creation == '0000-00-00 00:00:00') ? back.date_creation : back.date_creation | date:'dd MMMM yyyy hh:mm:ss'}}</td>
                  <td class="v-a-middle" [ngClass]="(util.userMntInconsistencia.email == 'Generales') ? 'gralBackups': 'noGralBackups'">{{(back.date_download == '0000-00-00 00:00:00') ? back.date_download: back.date_download | date:'dd MMMM yyyy hh:mm:ss'}}</td>
                  <td class="v-a-middle width-10">{{back.created_in}}</td>
                  <td class="v-a-middle width-10">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [id]="i" disabled [checked]="back.checked">
                      <label class="custom-control-label" [attr.for]="i"></label>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
            <loading-spinner *ngIf="util.loadingModal"></loading-spinner>
            <query-complete *ngIf="util.QueryComplete.isComplete" [msj]="util.QueryComplete.msj"></query-complete>

        </div>
        <div class="row" style="width: 100%; display: block" *ngIf="backupService.userBackups[backupService.indexUser].backups.length == 0">
          <h4 class="font-weight-light">{{util.msjModal}}</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardarValorBackups()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Buscador -->
<div class="tamaño-titulo-encabezado">
  <div class="tam-titulo-encabezado" style="padding-top: 160px !important;">
    <nav class="navbar navbar-light bg-light" style="padding-left: 40px;
    padding-right: 40px; background: transparent !important">
      <form class="form-row" style="width: 100% !important" (submit)="search()">
        <div class="col-11">
          <input [(ngModel)]="email" name="correo" class="form-control-lg inputSearch" type="email" placeholder="Ingrese el correo del cliente" aria-label="Search" >
        </div>
        <div class="col-1">
          <button class="btn btn-lg btn-primary btnSearch" type="submit">
            <span>
              <fa-icon [icon]="util.faSearch"></fa-icon>
            </span>
          </button>
        </div>
      </form>
    </nav>
  </div>
</div>

<!-- Buscador -->
<div class="text-center" style=" padding: 50px">
  <div class="row" style="display: block">
    <h3 class="font-weight-500 text-center">Mantenimiento Inconsistencia de Datos:</h3>
  </div>
  <div class="row" >
    <div class="col-3"></div>
    <div class="col-6">
      <h3 class="font-weight-normal text-center">{{util.userMntInconsistencia.email}}</h3>
    </div>
    <div class="col-3">
        <div class="form-group row">
          <label for="backup" class="col-3 col-form-label" style="font-size: 18px; font-weight: normal">Backup:</label>
          <div class="col-7">
            <select id="backup" [multiple]="!todo" class="form-control" [(ngModel)]="backup" name="backup" (change)="changeOptionSelect($event)" *ngIf="backupService.userBackups[backupService.indexUser].backups.length > 0">
              <ng-container *ngFor="let b of backupService.userBackups[backupService.indexUser].backups">
                <option  value="{{b.id_backup}}">{{(b.id_backup == 0) ? 'Todos': b.id_backup}}</option>
              </ng-container>
            </select>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter" (click)="abrirModal()">
              <span>
                <fa-icon [icon]="util.faSlidersH"></fa-icon>
              </span>
            </button>
          </div>
        </div>
    </div>
  </div>
  <div class="row" style="display: block">
    <button class="btn  btn-outline-success" (click)="corregirTabla()" [disabled]="errorValidacionUserBackup">
      <span>
        <fa-icon [icon]="util.faTools"></fa-icon>
      </span>
      Corregir Tabla</button>
  </div>
</div>

<ng-container *ngIf="!errorValidacionUserBackup">
  <ul class="nav nav-tabs nav-color">
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['accounts', stringyfyJSON()]">Accounts</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['automatics', stringyfyJSON()]">Automatics</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['budgets', stringyfyJSON()]">Budgets</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['cardviews', stringyfyJSON()]">CardViews</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['categories', stringyfyJSON()]">Categories</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['currencies', stringyfyJSON()]">Currencies</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['extras', stringyfyJSON()]">Extras</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['movements', stringyfyJSON()]">Movements</a>
    </li>
    <li class="nav-item tam-tab">
      <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['preferences', stringyfyJSON()]">Preferences</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</ng-container>

<div *ngIf="errorValidacionUserBackup">
  <h3 class="font-weight-normal text-center">{{util.msjModal}}</h3>
</div>
