<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Buscador -->
<div class="tamaño-titulo-encabezado">
  <div class="tam-titulo-encabezado" style="padding-top: 160px !important;">
    <nav class="navbar navbar-light bg-light" style="padding-left: 40px;
    padding-right: 40px; background: transparent !important">
      <form class="form-row" style="width: 100% !important" (submit)="search()">
        <div class="col-10">
          <input [(ngModel)]="email" name="correo" class="form-control-lg inputSearch" type="email" placeholder="Ingrese el correo del cliente" aria-label="Search" >
        </div>
        <div class="col-2">
          <button class="btn btn-lg btn-primary btnSearch" type="submit">Buscar</button>
        </div>

      </form>
    </nav>
  </div>
</div>

<!-- Buscador -->
<div class="text-center" style=" padding: 50px">
  <div class="row" style="display: block">
    <h2 class="font-weight-bold text-center">Inconsistencia de Datos</h2>
  </div>
  <div class="row" >
    <div class="col-2"></div>
    <div class="col-7">
      <h3 class="font-weight-light text-center">{{util.emailUserMntInconsistencia}}</h3>
    </div>
    <div class="col-2">
        <div class="form-group row">
          <label for="backup" class="col-sm-4 col-form-label" style="font-size: 18px; font-weight: normal">Backup:</label>
          <div class="col-sm-8">
            <select id="backup" class="form-control" [(ngModel)]="backup" name="backup" (change)="prueba()">
              <option *ngFor="let b of backupService.backups;" value="{{b.id_backup}}">{{b.id_backup}}</option>
            </select>
          </div>
        </div>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Modal
      </button>
    </div>
  </div>
  <div class="row" style="display: block">
    <button class="btn  btn-outline-success" (click)="corregirTabla()">Corregir Tabla</button>
  </div>
</div>

<ul class="nav nav-tabs nav-color">
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['accounts']">Accounts</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['automatics']">Automatics</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['budgets']">Budgets</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['cardviews']">CardViews</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['categories']">Categories</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['currencies']">Currencies</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['extras']">Extras</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['movements']">Movements</a>
  </li>
  <li class="nav-item tam-tab">
    <a class="nav-link tam-a text-light" routerLinkActive="active" [routerLink]="['preferences']">Preferences</a>
  </li>
</ul>
<router-outlet></router-outlet>



