/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";


.addButton {
  /*border: 0px;*/
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  width: 55px !important;
  height: 55px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /*color: #ffffff;*/
  cursor: pointer !important;
  /*background: #E45E4E;*/
  z-index: 100 !important;
}
.backNavigation {
  /*border: 0px;*/
  position: fixed !important;
  top: 36px !important;
  left: 15px !important;
  width: 50px !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /*color: #ffffff;*/
  cursor: pointer !important;
  /*background: #E45E4E;*/
  z-index: 100 !important;
}
.up-right {
  border: 0px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  background: #E45E4E;
  z-index: 3;
}
.up-left {
  border: 0px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  background: #E45E4E;
  z-index: 3;
}

.tarjetaCuerpo {
  height: 0px;
  line-height: 1.5;
  transition: max-height 500ms, padding 500ms;
  overflow: hidden;
}

.inputSearch {
  width: 100%; height: 80px;
  background: rgba(255, 255, 255, 0.16);
  border: 0px;
  color: white;
}
.btnSearch {
  width: 100%; height: 80px;
}

.tamaño-titulo-encabezado {
width: 100%; height: 300px; background-color: rgba(82, 103, 124, 0.82);
}
.tam-titulo-encabezado {
padding-top: 200px; text-align: center;
}

.btn-redondo {
height: 100px !important;
width: 100px !important;
border-radius: 50%;
}

.navEncode {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 125px;
padding: 30px 25px;
/*background-color: #52677C;*/
  background-color: rgba(82, 103, 124, 1);
  z-index: 10;
}

.imgLogo {
  padding-left: 50px;
  width: 270px;
}

.tamaño-font {
  font-size: 18px;
}

.Encabezado-Tabla {
  font-size: 20px;
  height: 110px;
  color: #fff;
  background-color: #000000 !important;
  border-color: #454d55;
  vertical-align: middle !important;
  text-align: center !important;
}

.Celdas-Tabla {
  font-size: 20px !important;
  height: 110px !important;
  vertical-align: middle !important;
  text-align: center !important;
}
.tam-tab {
  height: 112px;
  width: 11.111%;
  text-align: center;
}

.tam-a {
  border: 1px solid #ffad00 !important;
  border-bottom: transparent !important;
  height: 112px;
  padding-top: 50px;
}
.nav-color {
  background-color: #FF9100 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  /* font-weight: bold; */
  color: #495057 !important;
  background-color: var(--white);
  border-color: var(--orange) var(--orange) #fff;
  font-weight: bold;
}
app-gastos {
  width: 100%;
}
app-entradas {
  width: 100%;
}
app-gastos-entradas {
  width: 100%;
}
.inline-grid {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-grid !important;
  width: 100%;
}

.input-header {
  background-color: #212529 !important;
  border: transparent !important;
  color: #adb5bd;
  text-align: center;
}
.input-header:focus {
  color: #dde5ed;
}
.v-a-middle {
  vertical-align: middle !important;
}
.btnFilter-disabled{
  visibility: hidden;
  line-height: 1;
}
.centerTitleModal {
  width: 100% !important;
  text-align: center !important;
  margin-left: 30px !important;
}
.HeaderSelected {
  background-color: rgb(35, 200, 0) !important;
}
.BodySelected {
  background-color: rgba(35, 200, 0, 0.5) !important;
}

.HeaderNoSelected {
  background-color: #e1e1e1 !important;
}
.BodyNoSelected {
  background-color: white !important;
}
.table-fixed,
.table-fixed-bu {
  height: 600px;
  overflow: scroll;
}
.table-fixed tbody,
.table-fixed-bu tbody {
  height: 450px;
  overflow-y: scroll;
  width: 100%;
}
.table-fixed thead,
.table-fixed-bu thead,
.table-fixed tbody,
.table-fixed-bu tbody,
.table-fixed td,
.table-fixed-bu td,
.table-fixed th,
.table-fixed-bu th
{
  display: block;
}

.table-fixed thead tr,
.table-fixed-bu thead tr,
.table-fixed tbody tr,
.table-fixed-bu tbody tr {
  display: flex;
}

.table-fixed thead tr th,
.table-fixed tbody tr td {
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-fixed-bu thead tr th,
.table-fixed-bu tbody tr td {
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-fixed thead tr,
.table-fixed-bu thead tr {
  width: calc(100% - 17px);
}

/*Tabla Fixed XL*/
.table-fixed-xl {
  /*overflow-x: scroll;*/
  width: 100%;
}
.table-fixed-xl tbody{
  overflow-y: scroll;
  width: 100%;
}
.table-fixed-xl thead,
.table-fixed-xl tbody,
.table-fixed-xl td,
.table-fixed-xl th
{
  display: block;
}
.table-fixed-xl thead tr,
.table-fixed-xl tbody tr {
  display: flex;
}
.table-fixed-xl thead tr th,
.table-fixed-xl tbody tr td {
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-fixed-xl thead{
  width: 100%;
  height: 120px !important;
}
.table-fixed-xl thead tr {
  height: 120px !important;
}
@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .table-fixed-xl {
    height: 700px !important;
    /*width: calc(1920px - 18px) !important;*/
  }
  .table-fixed-xl thead{
    /*width: calc(1920px - 18px) !important;*/
  }
  .table-fixed-xl tbody{
    height: 550px !important;
    /*width: calc(1920px - 18px) !important;*/
  }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  .table-fixed-xl {
    height: 500px !important;
    /*width: calc(1366px - 18px) !important;*/
  }
  .table-fixed-xl thead tr{
    /*width: calc(1366px - 18px) !important;*/
  }
  .table-fixed-xl tbody{
    height: 350px !important;
    /*width: calc(1366px - 18px) !important;*/
  }
}

.overflow-x-scroll {
  overflow-x: scroll;
}


.cdk-overlay-container {
  position: fixed !important;
  z-index: 1051 !important;
}
.color-blue {
  color: #007bff;
}
.color-red {
  color: #dc3545;
}
.btn-update{
  width: 90px;
  margin-right: 10px;
  font-size: 18px;
}
.btn-delete{
  width: 90px;
  margin-left: 10px;
  font-size: 18px;
}
